// 定義顏色
$color_dark_orange: #FA9C25
$color_orange: #F7C280
$color_gray: #EAF2EF
$color_black: #343A40
$color_white: #fff

// debug
*
    // border: 1px solid #000
    box-sizing: border-box
// -----------------------------------------------------
// 共同樣式、mixin
*
    font-family: 微軟正黑體
html,body
    margin: 0
    padding: 0

=mtb
    margin-top: 50px
    margin-bottom: 50px
=title
    font-weight: 600
    font-size: 20px 
    margin-bottom: 0 

section
    +mtb
    h2
        font-weight: 700
        font-size: 30px
        margin-bottom: 10px
        position: relative
        &:before
            content: ""
            display: inline-block
            background-color: $color_dark_orange
            width: 15px
            height: 30px
            position: absolute
            top: 50%
            left: -10px
            transform: translateY(-50%)


.lookmore
    background-color: $color_dark_orange
    color: $color_white
    display: block
    margin-left: auto
    margin-top: 5px
.row
    display: flex
    justify-content: center
.list
    .newpostlistdate,.newpostlisttitle
        +title
    .newpostlistdate
        color: $color_dark_orange
    .newpostlisttitle
        color: #000
    .newpostlisttext
        margin-bottom: 0
    hr
        border: 1px solid $color_dark_orange
        margin-top: 10px
        margin-bottom: 10px
// -----------------------------------------------------
// 上層廣告
#top-ads
    margin: 0
// -----------------------------------------------------
// 登錄、搜尋區塊
#searchandlogin
    background-color: $color_orange
    padding: 10px 120px
    margin: 0
    .search
        display: flex
        justify-content: center
        align-items: center
        margin: 10px
        h4
            margin: 10px
            text-align: center
        span
            margin-bottom: 10px
            margin-left: 2px
            margin-right: 2px
            color: #f24
            font-weight: 600
            text-align: center
    .login
        margin: 10px
        .members,.organizations,.business
            text-align: center
            background-color: $color_white
            padding: 20px
            margin-bottom: 0
            margin: 5px
            font-weight: 600
    @media screen and ( max-width: 768px )
        padding: 10px 20px
        .login
            display: none
// -----------------------------------------------------
// 最新活動
#newpost
    // +mtb
    .newpostpic
        padding: 0
        .card
            .card-title
                +title
            .newpostcarddate
                color: $color_dark_orange
            .newpostcardtitle
                color: #000
            .card-text
                padding-top: 5px 
                margin-bottom: 0
    .newpostlist
        padding: 0 20px
@media screen and ( max-width: 576px )
    #newpost
        .newpostlist.col-12.col-md-7
            padding-right: 0
            padding-left: 0
// -----------------------------------------------------
// 物資募集
#donate
    padding-left: 0
    +mtb
    .list
        padding: 0
        .donatetitle,.donateorg
            +title
            padding: 2px 0
            color: $color_dark_orange
        .donateorg
            font-size: 18px
            color: #000
        .donatenumber
            margin-bottom: 0
        hr
            border: 1px solid $color_dark_orange
            margin-top: 10px
            margin-bottom: 10px
@media screen and ( max-width: 576px )
    #donate
        padding: 15px
// -----------------------------------------------------
// 人力銀行
#bank
    padding-right: 0
    padding-left: 50px
    +mtb
    .list
        padding: 0
        .jobname,.joborg
            +title
            padding: 2px 0
            color: $color_dark_orange
        .job-type
            background-color: $color_dark_orange
            padding: 1px 8px
            border-radius: 15px
            color: white
            font-weight: 500
            font-size: 15px
            
        .joborg
            font-size: 18px
            color: #000
        .jobtext
            margin-bottom: 0
        .donatenumber
            margin-bottom: 0
        hr
            border: 1px solid $color_dark_orange
            margin-top: 10px
            margin-bottom: 10px

@media screen and ( max-width: 576px )
    #bank
        padding: 15px
        .col-12.col-md-6
            padding: 0
// -----------------------------------------------------
// 公益商城
.shopbgc
    background-color: $color_orange
    padding-top: 20px
    padding-bottom: 20px
#shop
    // +mtb
    .good
        margin: 10px
        .shoptitle
            +title
        .card-text
            margin-bottom: 0
    .lookmore
        margin-right: auto
        margin-left: auto
        margin-top: 20px
@media screen and ( max-width: 576px )
    .shopbgc
        background-color: #fff
// -----------------------------------------------------
// 公益新訊、急難救助、獎助學金
#news
    margin-right: 15px
    // +mtb
    .list
        padding: 0
@media screen and ( max-width: 576px )
    #news
        margin-left: 15px

#help
    // +mtb
    .list
        padding: 0

#scholarship
    // +mtb
    margin-left: 15px
    .list
        padding: 0
@media screen and ( max-width: 576px )
    #scholarship
        margin-right: 15px
// -----------------------------------------------------
// 底部廣告
#bottom_ads
    .pic
        display: flex
        justify-content: center
        padding: 10px
        img
            width: 100%
            

// -----------------------------------------------------
// footer
footer
    margin-top: 50px
    background-color: $color_orange
    width: 100%
    height: 250px