@charset "UTF-8";
* {
  box-sizing: border-box;
}

* {
  font-family: '微軟正黑體','標楷體','Arial';
}

*:focus, *:checked {
  outline: none;
  border: none;
  box-shadow: none !important;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;
}

section h2 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
  position: relative;
}

section h2:before {
  content: "";
  display: inline-block;
  background-color: #FA9C25;
  width: 12px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
}

.lookmore {
  background-color: #FA9C25;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-top: 10px;
}

.list {
  border-bottom: 1px solid #B5B8A3;
}

.list .title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;
}

.list .date {
  color: #FA9C25;
  font-size: 16px;
  font-weight: 500;
}

.list .text {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
  .container {
    margin-top: 0;
    margin-bottom: 0;
  }
}

a {
  color: #343A40;
}

a:active, a:focus, a:hover {
  text-decoration: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.content_top {
  padding: 0;
}

@media screen and (max-width: 576px) {
  .off {
    display: none;
  }
}

.breadcrumb {
  background-color: initial;
  border-radius: initial;
  padding-top: 0;
  padding-bottom: 0;
}

.breadcrumb a {
  transition: 0.5s;
}

.breadcrumb a:hover {
  color: #FA9C25;
}

#backToTop {
  position: fixed;
  right: 50px;
  bottom: 100px;
  z-index: 999;
  cursor: pointer;
}

#backToTop .circle {
  width: 100px;
  height: 100px;
  background-image: url(../img/logo/gototop.png);
  background-size: cover;
}

@media screen and (max-width: 576px) {
  #backToTop {
    right: 10px;
    bottom: 40px;
  }
  #backToTop .circle {
    width: 70px;
    height: 70px;
  }
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
  min-width: 110px;
}

.dropdown {
  padding: 0 8px;
}

@media screen and (max-width: 992px) {
  .dropdown {
    padding: 0;
  }
}

.dropdown a {
  position: relative;
}

.bg-yellow {
  background-color: #ffd56f;
}

.top-search .input-group-addon {
  padding: 0;
  display: flex;
  align-items: center;
}

#navbar.navbar.bootsnav {
  transition: 0.5s;
  padding: 0;
}

#navbar.navbar.bootsnav .navbar-top .top-nav {
  padding: 0;
}

#navbar.navbar.bootsnav .navbar-top .top-nav .navbar-socail {
  text-align: right;
}

@media screen and (max-width: 992px) {
  #navbar.navbar.bootsnav .navbar-top .top-nav .navbar-socail {
    text-align: center;
    padding: 5px 0;
  }
}

ul.drop-down-menu-top {
  font-size: 13px;
  height: 35px;
}

@media screen and (max-width: 992px) {
  ul.drop-down-menu-top {
    height: 35px;
  }
}

@media screen and (max-width: 767px) {
  ul.drop-down-menu-top {
    height: 30px;
  }
}

ul.drop-down-menu-top li {
  position: relative;
  white-space: nowrap;
  margin: 0 0 0 0px;
}

ul.drop-down-menu-top li a {
  font-size: 16px;
  padding: 0;
}

ul.drop-down-menu-top i {
  color: #fff;
  display: block;
  padding: 0;
  text-decoration: none;
  line-height: 35px;
}

ul.drop-down-menu-top li.sub-drop-down-menu-top {
  display: inline-block;
  margin: 0 10px;
}

ul.drop-down-menu-top li.sub-drop-down-menu-top:hover ul.sec {
  display: block;
  opacity: 1;
  -webkit-transitzon: opacity 0.3s;
  transition: opacity 0.3s;
  left: -1px;
  border-right: 5px;
}

ul.drop-down-menu-top li.sub-drop-down-menu-top ul.sec {
  display: none;
  background: #fff;
  border: #ccc 1px solid;
  position: absolute;
  z-index: 99;
  left: -1px;
  top: 100%;
  min-width: 40px;
  margin: 0 0 0 -30px;
  left: 99999px;
  opacity: 0;
  transition: opacity 0.3s;
}

ul.drop-down-menu-top li.sub-drop-down-menu-top ul.sec li {
  width: 80px;
  text-align: center;
  border-bottom: #d4d4d4 1px solid;
  border-right: #d4d4d4 1px solid;
  display: block;
}

ul.drop-down-menu-top li.sub-drop-down-menu-top ul.sec li:last-child {
  border-bottom: none;
}

ul.drop-down-menu-top li.sub-drop-down-menu-top ul.sec li a {
  color: #343A40;
  transition: 0.5s;
  line-height: 35px;
}

ul.drop-down-menu-top li.sub-drop-down-menu-top ul.sec li a:hover {
  color: #ffd56f;
}

li.no-dropdown a {
  padding: 0 !important;
}

@media screen and (max-width: 992px) {
  li.no-dropdown a {
    padding: 10px 0 !important;
  }
}

ul.nav.navbar-nav {
  align-items: center;
}

ul.nav.navbar-nav li {
  padding: 8px 12px 0 12px;
}

ul.nav.navbar-nav li a.dropdown-toggle {
  padding: 0 !important;
}

@media screen and (max-width: 992px) {
  ul.nav.navbar-nav li a.dropdown-toggle {
    padding: 10px 0 !important;
  }
}

ul.nav.navbar-nav li a.dropdown-toggle::after {
  content: "";
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-53%);
  right: -13px;
}

ul.nav.navbar-nav li ul.dropdown-menu {
  margin: 0;
  font-family: "微軟正黑體", "新細明體", "標楷體", Arial, "Noto Sans","Noto Serif";
  font-size: 1rem;
  font-weight: bold;
}

ul.nav.navbar-nav li ul.dropdown-menu li.drop-item {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #d4d4d4;
  text-align: center;
}

@media screen and (max-width: 992px) {
  ul.nav.navbar-nav li ul.dropdown-menu li.drop-item {
    text-align: start;
  }
}

ul.nav.navbar-nav li ul.dropdown-menu li.drop-item a {
  display: block;
  color: #343A40;
  border-bottom: none !important;
  padding: 10px;
  width: 100%;
  transition: 0.5s;
}

ul.nav.navbar-nav li ul.dropdown-menu li.drop-item a:hover {
  color: #FA9C25;
  background-color: transparent;
}

@media screen and (max-width: 992px) {
  ul.nav.navbar-nav li ul.dropdown-menu li.drop-item a {
    color: #343A40 !important;
  }
}

@media screen and (max-width: 992px) {
  ul.nav.navbar-nav {
    display: block;
  }
  ul.nav.navbar-nav li {
    padding: 10px;
  }
  ul.nav.navbar-nav li ul.dropdown-menu li {
    padding: 10px !important;
  }
}

.main-nav {
  padding: 10px 0;
}

.main-nav .navbar-header a.navbar-brand {
  padding: 0;
}

@media screen and (max-width: 350px) {
  .main-nav .navbar-header a.navbar-brand {
    width: 250px;
  }
}

.main-nav .navbar-header a.navbar-brand img {
  width: 100%;
}

@media (max-width: 992px) {
  nav.navbar.bootsnav ul.nav > li > a {
    font-weight: normal;
  }
  .navbar-expand-lg .navbar-nav > li {
    margin-left: 30px;
  }
}

@media (max-width: 992px) {
  nav.navbar.bootsnav .navbar-collapse.collapse.show {
    display: block !important;
    overflow-x: hidden;
  }
  nav.navbar.bootsnav .navbar-nav {
    padding-top: 25px;
    margin-left: 0px;
  }
  .navbar-expand-lg .navbar-nav > li {
    margin-left: 0px;
  }
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

/*手機logo區塊*/
@media (max-width: 992px) {
  .navbar .container {
    display: block;
  }
}

@media (max-width: 992px) {
  nav.navbar.bootsnav .navbar-nav > li > a {
    border-top: none;
  }
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
}

#top-ads {
  margin: 0;
  padding-top: 125px;
}

@media (max-width: 992px) {
  #top-ads {
    padding-top: 135px;
  }
}

#searchandlogin {
  margin: 20px 0;
}

#searchandlogin .login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-display: row;
  text-align: center;
}

#searchandlogin .login .login-btn a {
  color: #F7C280;
  transition: 0.5s;
}

#searchandlogin .login .login-btn a:hover {
  color: #FA9C25;
}

#searchandlogin .login .login-btn a i {
  font-size: 50px;
  margin: 10px;
}

#searchandlogin .login .user, #searchandlogin .login .org {
  border-right: 1px solid #F7C280;
}

#searchandlogin .login .search {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#searchandlogin .login .search .orgnum {
  text-align: center;
  color: #000;
  padding: 5px;
}

#searchandlogin .login .search span {
  color: #f24;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 576px) {
  #searchandlogin .login .login-btn a h4 {
    font-size: 20px;
  }
  #searchandlogin .login .login-btn a i {
    font-size: 35px;
  }
}

#newpost {
  display: flex;
  flex-wrap: wrap;
}

#newpost .newpostpic {
  padding: 0;
}

#newpost .newpostpic .card {
  border: none;
}

#newpost .newpostpic .card img {
  width: 100%;
}

#newpost .newpostpic .card .card-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;
}

#newpost .newpostpic .card .date {
  color: #FA9C25;
  font-size: 16px;
  font-weight: 500;
}

#newpost .newpostpic .card p.card-text {
  padding-top: 5px;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  white-space: normal;
  line-height: 30px;
  height: 88px;
}

#newpost .newpostlist {
  padding: 0 20px;
}

#newpost .newpostlist .list {
  padding-top: 20px;
  padding-bottom: 10px;
}

@media screen and (max-width: 576px) {
  #newpost {
    margin-top: 50px;
  }
  #newpost .newpostlist.col-12.col-md-7 {
    padding-right: 0;
    padding-left: 0;
  }
}

#donate {
  margin-top: 50px;
  margin-bottom: 50px;
}

#donate .list-wrap {
  display: flex;
  flex-direction: column;
}

#donate .list {
  padding: 0;
  border-bottom: 1px solid #B5B8A3;
}

#donate .list .donatetitle, #donate .list .donateorg, #donate .list .donatenumber {
  margin-top: 10px;
  margin-bottom: 10px;
}

#donate .list .donatetitle {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;
  color: #FA9C25;
}

#donate .list .donateorg, #donate .list .donatenumber {
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  #donate {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
  }
}

#bank {
  margin-top: 50px;
  margin-bottom: 50px;
}

#bank .list-wrap {
  display: flex;
  flex-wrap: wrap;
}

#bank .list-wrap .list {
  padding: 0;
  border-bottom: 1px solid #B5B8A3;
}

#bank .list-wrap .list .jobname, #bank .list-wrap .list .joborg, #bank .list-wrap .list .jobtext {
  margin-top: 10px;
  margin-bottom: 10px;
}

#bank .list-wrap .list .jobname {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;
  color: #FA9C25;
}

#bank .list-wrap .list .joborg, #bank .list-wrap .list .jobtext {
  font-size: 16px;
}

#bank .list-wrap .list .job-type {
  background-color: #FA9C25;
  padding: 1px 8px;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  font-size: 12px;
}

@media screen and (max-width: 576px) {
  #bank {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
  }
  #bank .col-12.col-md-6 {
    padding: 0;
  }
}

.shopbgc {
  background-color: #F7C280;
  margin-top: 50px;
  margin-bottom: 50px;
}

#shop {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

#shop .good {
  text-align: center;
  flex-direction: column;
}

#shop .good .pic {
  overflow: hidden;
}

#shop .good .pic img {
  box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.15);
}

#shop .good .pic img:hover {
  transition: 0.5s;
  transform: rotate(10deg) scale(1.2);
}

#shop .good .title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;
  padding-top: 20px;
}

#shop .lookmore {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 992px) {
  .good {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 576px) {
  .shopbgc {
    background-color: #fff;
  }
  .shopbgc .good {
    margin-bottom: 10px;
  }
  #shop {
    padding: 15px;
    margin: 0;
  }
  #shop .lookmore {
    margin: initial;
    margin-top: 10px;
    margin-left: auto;
  }
}

#news {
  margin-top: 50px;
  margin-bottom: 50px;
}

#news .list {
  padding: 10px 0 7px 0;
}

#news .list span {
  margin: 8px 0;
  display: block;
  color: #F7C280;
}

#news .list .text {
  margin-top: 8px;
  margin-bottom: 10px;
}

#help {
  margin-top: 50px;
  margin-bottom: 50px;
}

#help .list {
  padding: 10px 0 7px 0;
}

#help .list span {
  margin: 8px 0;
  display: block;
  color: #F7C280;
}

#help .list .text {
  margin-top: 8px;
  margin-bottom: 10px;
}

#scholarship {
  margin-top: 50px;
  margin-bottom: 50px;
}

#scholarship .list {
  padding: 10px 0 7px 0;
}

#scholarship .list span {
  margin: 8px 0;
  display: block;
  color: #F7C280;
}

#scholarship .list .text {
  margin-top: 8px;
  margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
  #news, #help, #scholarship {
    margin: 0;
    padding: 15px;
  }
}

#bottom_ads .pic {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#bottom_ads .pic img {
  width: 100%;
}

@media screen and (max-width: 576px) {
  #bottom_ads .pic {
    padding: 30px 0;
    margin: 0;
  }
  #bottom_ads .pic img {
    width: 100%;
  }
}

footer {
  margin-top: 50px;
  background-color: #F7C280;
  width: 100%;
  padding: 50px 0 20px 0;
}

footer .footer-left {
  padding-top: 40px;
}

footer .footer-left p {
  padding: 0;
  margin-bottom: 15px;
}

footer .footer-right .npotimes {
  text-align: right;
  margin-bottom: 15px;
}

footer .footer-right .input-group {
  margin-bottom: 15px;
}

footer .footer-right .input-group #suscribe {
  margin: 0;
}

footer .footer-right .supports {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

footer .footer-right .supports .logo {
  padding: 5px;
}

footer .footer-right .supports .logo img {
  width: 100%;
}

footer .bottom-bar {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding: 20px 0 0 0;
  max-width: 500px;
}

footer .bottom-bar a {
  transition: 0.5s;
}

footer .bottom-bar a:hover {
  color: #FA9C25;
}

@media screen and (max-width: 576px) {
  footer .footer-left {
    text-align: center;
  }
  footer .footer-right .npotimes {
    text-align: center;
  }
  footer .bottom-bar {
    display: flex;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  footer .bottom-bar .col-3 {
    padding: 0 5px;
  }
}

#about_us .content_top {
  margin-top: 150px;
}

#about_us .content_top h2.content_title::before {
  display: none;
}

#about_us .content_top span.content_path {
  color: #4b545c;
}

#about_us .content_top p {
  margin-top: 20px;
}

#npo_video .content_top {
  margin-top: 150px;
}

#npo_video .content_top h2.content_title::before {
  display: none;
}

#npo_video .content_top span.content_path {
  color: #4b545c;
}

#npo_video .content_top .selector {
  padding: 15px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #F7C280;
}

#npo_video .content_top .selector .select_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

#npo_video .content_top .videos_img {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

#npo_video .content_top .videos_img .title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;
  padding-top: 20px;
}

#npo_video .content_top .videos_img .pic {
  overflow: hidden;
}

#npo_video .content_top .videos_img .pic img {
  box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.15);
}

#npo_video .content_top .videos_img .pic img:hover {
  transition: 0.5s;
  transform: rotate(10deg) scale(1.2);
}

#npo_video .content_top .page {
  display: flex;
  justify-content: center;
}

#npo_video .content_top .page li.page-item a.page-link {
  transition: 0.5s;
  color: #B5B8A3;
}

#npo_video .content_top .page li.page-item a.page-link:hover {
  color: #FA9C25;
  border-color: #FA9C25;
  background-color: initial;
}

#npo_donate .content_top {
  margin-top: 150px;
}

#npo_donate .content_top h2.content_title::before {
  display: none;
}

#npo_donate .content_top span.content_path {
  color: #4b545c;
}

#npo_donate .content_top p {
  margin-top: 20px;
}

#npo_donate .content_top .selector {
  padding: 15px 20px;
  margin-bottom: 20px;
  background-color: #F7C280;
}

#npo_donate .content_top .selector .select_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

#npo_donate .content_top .table {
  margin-top: 20px;
}

#npo_donate .content_top .table .thead-color {
  background-color: #F7C280;
}

#npo_donate .content_top .table .clickable-row {
  cursor: pointer;
  transition: 0.5s;
}

#npo_donate .content_top .table .clickable-row:hover {
  color: #FA9C25;
}

#npo_donate .content_top .page {
  display: flex;
  justify-content: center;
}

#npo_donate .content_top .page li.page-item a.page-link {
  transition: 0.5s;
  color: #B5B8A3;
}

#npo_donate .content_top .page li.page-item a.page-link:hover {
  color: #FA9C25;
  border-color: #FA9C25;
  background-color: initial;
}

#npo_donate .content_top {
  margin-top: 150px;
}

#npo_donate .content_top h2.content_title::before {
  display: none;
}

#npo_donate .content_top span.content_path {
  color: #4b545c;
}

#npo_donate .content_top p {
  margin-top: 20px;
}

#npo_donate .content_top .selector {
  padding: 15px 20px;
  margin-bottom: 20px;
  background-color: #F7C280;
}

#npo_donate .content_top .selector .select_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

#npo_donate .content_top .table {
  margin-top: 20px;
}

#npo_donate .content_top .table .thead-color {
  background-color: #F7C280;
}

#npo_donate .content_top .table .clickable-row {
  cursor: pointer;
  transition: 0.5s;
}

#npo_donate .content_top .table .clickable-row:hover {
  color: #FA9C25;
}

#npo_donate .content_top .page {
  display: flex;
  justify-content: center;
}

#npo_donate .content_top .page li.page-item a.page-link {
  transition: 0.5s;
  color: #B5B8A3;
}

#npo_donate .content_top .page li.page-item a.page-link:hover {
  color: #FA9C25;
  border-color: #FA9C25;
  background-color: initial;
}

#welfare_shop .content_top {
  margin-top: 150px;
}

#welfare_shop .content_top h2.content_title::before {
  display: none;
}

#welfare_shop .content_top span.content_path {
  color: #4b545c;
}

#welfare_shop .content_top .selector {
  padding: 15px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #F7C280;
}

#welfare_shop .content_top .selector .select_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

#welfare_shop .content_top .products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  text-align: center;
}

#welfare_shop .content_top .products .title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;
  padding-top: 20px;
}

#welfare_shop .content_top .products .pic {
  overflow: hidden;
}

#welfare_shop .content_top .products .pic img {
  box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.15);
}

#welfare_shop .content_top .products .pic img:hover {
  transition: 0.5s;
  transform: rotate(10deg) scale(1.2);
}

#welfare_shop .content_top .page {
  display: flex;
  justify-content: center;
}

#welfare_shop .content_top .page li.page-item a.page-link {
  transition: 0.5s;
  color: #B5B8A3;
}

#welfare_shop .content_top .page li.page-item a.page-link:hover {
  color: #FA9C25;
  border-color: #FA9C25;
  background-color: initial;
}

#npo_list .content_top {
  margin-top: 150px;
}

#npo_list .content_top h2.content_title::before {
  display: none;
}

#npo_list .content_top span.content_path {
  color: #4b545c;
}

#npo_list .content_top p {
  margin-top: 20px;
}

#npo_list .content_top .selector {
  padding: 15px 20px;
  margin-bottom: 20px;
  background-color: #F7C280;
}

#npo_list .content_top .selector .select_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

#npo_list .content_top .table {
  margin-top: 20px;
}

#npo_list .content_top .table .thead-color {
  background-color: #F7C280;
}

#npo_list .content_top .table .clickable-row {
  cursor: pointer;
  transition: 0.5s;
}

#npo_list .content_top .table .clickable-row:hover {
  color: #FA9C25;
}

#npo_list .content_top .page {
  display: flex;
  justify-content: center;
}

#npo_list .content_top .page li.page-item a.page-link {
  transition: 0.5s;
  color: #B5B8A3;
}

#npo_list .content_top .page li.page-item a.page-link:hover {
  color: #FA9C25;
  border-color: #FA9C25;
  background-color: initial;
}

#post_ads .content_top {
  margin-top: 150px;
}

#post_ads .content_top h2.content_title::before {
  display: none;
}

#post_ads .content_top span.content_path {
  color: #4b545c;
}

#post_ads .content_top p {
  margin-top: 20px;
}

#coorperate .content_top, #online_service .content_top {
  margin-top: 150px;
}

#coorperate .content_top h2.content_title::before, #online_service .content_top h2.content_title::before {
  display: none;
}

#coorperate .content_top span.content_path, #online_service .content_top span.content_path {
  color: #4b545c;
}

#coorperate .content_top p, #online_service .content_top p {
  margin-top: 20px;
}

#coorperate .content_top .box, #online_service .content_top .box {
  display: flex;
  flex-wrap: wrap;
}

#coorperate .content_top .box textarea, #coorperate .content_top .box input, #online_service .content_top .box textarea, #online_service .content_top .box input {
  border: 1px solid #B5B8A3;
  transition: 0.5s;
}

#coorperate .content_top .box textarea:focus, #coorperate .content_top .box textarea:active, #coorperate .content_top .box input:focus, #coorperate .content_top .box input:active, #online_service .content_top .box textarea:focus, #online_service .content_top .box textarea:active, #online_service .content_top .box input:focus, #online_service .content_top .box input:active {
  border-color: #FA9C25;
}

#coorperate .content_top .box .btns, #online_service .content_top .box .btns {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 576px) {
  #coorperate .content_top .box .btns, #online_service .content_top .box .btns {
    justify-content: center;
  }
}

#coorperate .content_top .box .btns .cooperate_button, #coorperate .content_top .box .btns .online_service_button, #online_service .content_top .box .btns .cooperate_button, #online_service .content_top .box .btns .online_service_button {
  display: block;
  background-color: #FA9C25;
  padding: 5px 40px;
  margin: 0 15px;
}

#coorperate .content_top .box .btns #cooperate_reset, #coorperate .content_top .box .btns #online_service_reset, #online_service .content_top .box .btns #cooperate_reset, #online_service .content_top .box .btns #online_service_reset {
  background-color: #d4d4d4;
}

#coorperate .content_top .box .btns #cooperate_submit, #coorperate .content_top .box .btns #online_service_submit, #online_service .content_top .box .btns #cooperate_submit, #online_service .content_top .box .btns #online_service_submit {
  color: #fff;
}

@media screen and (max-width: 768px) {
  #coorperate .left-box, #coorperate .right-box, #online_service .left-box, #online_service .right-box {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */