// 定義顏色
$color_dark_orange: #FA9C25
$color_orange: #F7C280
$color_yellow: #ffd56f 
$color_gray: #B5B8A3
$color_light_gray: #d4d4d4
$color_black: #343A40
$color_white: #fff

// debug
*
    // border: 1px solid #000
    box-sizing: border-box
// -----------------------------------------------------
// 共同樣式、mixin
*
    font-family: '微軟正黑體','標楷體','Arial'
    &:focus,&:checked
        outline: none
        border: none
        box-shadow: none !important
            
html,body
    margin: 0
    padding: 0
    position: relative

=mtb
    margin-top: 50px
    margin-bottom: 50px
=title
    font-weight: 600
    font-size: 18px 
    margin-bottom: 0 
=date
    color: $color_dark_orange
    font-size: 16px
    font-weight: 500
=text-space
    margin-top: 10px
    margin-bottom: 10px

section
    // +mtb
    h2
        font-weight: 700
        font-size: 24px
        margin-bottom: 10px
        position: relative
        &:before
            content: ""
            display: inline-block
            background-color: $color_dark_orange
            width: 12px
            height: 28px
            position: absolute
            top: 50%
            left: -5px
            transform: translateY(-50%)

.lookmore
    background-color: $color_dark_orange
    color: $color_white
    display: block
    margin-left: auto
    margin-top: 10px

.list
    border-bottom: 1px solid $color_gray
    .title
        +title
    .date
        +date
    .text
        +text-space
@media screen and ( max-width: 576px )
    .container
        margin-top: 0
        margin-bottom: 0
a
    color: $color_black
    &:active,&:focus,&:hover
        text-decoration: none
        outline: none
ul
	// 取消ul預設的內縮及樣式
	margin: 0
	padding: 0
	list-style: none
// 分頁包覆樣式
.content_top
    padding: 0
// 手機樣式控制
@media screen and ( max-width: 576px )
    // 在手機上不顯示
    .off
        display: none
// 麵包屑樣式
.breadcrumb
    background-color: initial
    border-radius: initial
    padding-top: 0
    padding-bottom: 0
    a
        transition: 0.5s
        &:hover
            color: $color_dark_orange
// -----------------------------------------------------
// backtotop
#backToTop
    display: none
    position: fixed
    right: 50px
    bottom: 100px
    z-index: 999
    cursor: pointer
    .circle
        width: 100px
        height: 100px
        background-image: url(../img/logo/gototop.png)
        background-size: cover
    @media screen and ( max-width: 576px )
        right: 10px
        bottom: 40px
        .circle
            width: 70px
            height: 70px
// -----------------------------------------------------
// 導覽列
// 第二層選單的寬度，修改bootsnav樣式
nav.navbar.bootsnav li.dropdown ul.dropdown-menu
    min-width: 110px
// 定義下拉樣式
.dropdown
    padding: 0 8px
    @media screen and ( max-width: 992px )
        padding: 0
    a
        position: relative
// 顏色
.bg-yellow 
	background-color: $color_yellow
// icon排列
.top-search .input-group-addon
    padding: 0
    display: flex
    align-items: center
// 最上方導覽列最外層樣式
#navbar.navbar.bootsnav
    transition: 0.5s
    padding: 0
    .navbar-top
        .top-nav
            padding: 0
            .navbar-socail
                // 上方縮圖靠右
                text-align: right
                @media screen and ( max-width: 992px )
                    // 上方縮圖到中間
                    text-align: center
                    padding: 5px 0
// 最上方導覽列共同樣式
ul.drop-down-menu-top
    font-size: 13px
    height: 35px
    // 平板
    @media screen and ( max-width: 992px )
        height: 35px
        // 手機
    @media screen and ( max-width: 767px )
        height: 30px
    li 
        position: relative
        white-space: nowrap
        margin: 0 0 0 0px
        a
            font-size: 16px
            padding: 0
    i
        color: $color_white
        display: block
        padding: 0
        text-decoration: none
        line-height: 35px             
// 最上方導覽列個別樣式
ul.drop-down-menu-top
    li.sub-drop-down-menu-top
        display: inline-block
        margin: 0 10px
        &:hover
            ul.sec
                // 滑鼠滑入展開次選單
                display: block
                opacity: 1
                -webkit-transitzon: opacity 0.3s
                transition: opacity 0.3s
                left: -1px
                border-right: 5px
        ul.sec
            // 隱藏次選單
            display: none
            background: #fff
            border: #ccc 1px solid
            position: absolute
            z-index: 99
            left: -1px
            top: 100%
            min-width: 40px
            margin: 0 0 0 -30px
            // 隱藏次選單
            left: 99999px
            opacity: 0
            -webkit-transition: opacity 0.3s
            transition: opacity 0.3s
            li
                width: 80px
                text-align: center
                border-bottom: $color_light_gray 1px solid
                border-right: $color_light_gray 1px solid
                display: block
                &:last-child
                    border-bottom: none
                a
                    color: $color_black
                    transition: 0.5s
                    line-height: 35px
                    &:hover
                        color: $color_yellow	
// 沒有下拉式的nav調整
li.no-dropdown
    a
        // 壓過bootsnav樣式
        padding: 0 !important
        @media screen and ( max-width: 992px )
            //  壓過電腦版padding:0的important
            padding: 10px 0 !important
// 選單樣式
ul.nav.navbar-nav
    align-items: center
    // 選單樣式
    li
        padding: 8px 12px 0 12px
        a.dropdown-toggle
            // 有下拉選單的，壓過bootsnav樣式
            padding: 0 !important
            @media screen and ( max-width: 992px )
                // 壓過電腦版padding:0的important
                padding: 10px 0 !important
            // 下拉選單箭頭
            &::after
                content: ""
                border: none
                position: absolute
                top: 50%
                transform: translateY(-53%)
                right: -13px
        ul.dropdown-menu
            margin: 0
            font-family: "微軟正黑體", "新細明體", "標楷體", Arial, "Noto Sans","Noto Serif"
            font-size: 1rem
            font-weight: bold
            li.drop-item
                padding: 0
                margin: 0
                border-bottom: 1px solid $color_light_gray
                text-align: center
                @media screen and ( max-width: 992px )
                    text-align: start
                a
                    display: block
                    color: $color_black
                    border-bottom: none !important
                    padding: 10px
                    width: 100%
                    transition: 0.5s
                    &:hover
                        color: $color_dark_orange
                        background-color: transparent
                    @media screen and ( max-width: 992px )
                        // 壓過bootsnav樣式
                        color: $color_black !important
// 手機、平板選單樣式
@media screen and ( max-width: 992px )
    ul.nav.navbar-nav
        display: block
        li
            padding: 10px
            ul.dropdown-menu
                li
                    padding: 10px !important
// 主要導覽列
.main-nav
    padding: 10px 0
    .navbar-header
        button.navbar-toggle
        a.navbar-brand
            padding: 0
            @media screen and ( max-width: 350px )
                width: 250px
            img
                width: 100%
@media (max-width: 992px) 
	nav.navbar.bootsnav ul.nav > li > a 
		font-weight: normal
	
	.navbar-expand-lg .navbar-nav > li 
		margin-left: 30px
@media (max-width: 992px) 
	nav.navbar.bootsnav .navbar-collapse.collapse.show 
		display: block !important
		overflow-x: hidden
	nav.navbar.bootsnav .navbar-nav 
		padding-top: 25px
		margin-left: 0px
	.navbar-expand-lg .navbar-nav > li 
		margin-left: 0px
@media (min-width: 768px) 
	.navbar-toggle 
		display: none
/*手機logo區塊*/
@media (max-width: 992px) 
	.navbar .container 
		display: block
@media (max-width: 992px)
    nav.navbar.bootsnav .navbar-nav > li > a
        border-top: none
.navbar-collapse 
	-ms-flex-preferred-size: 100%
	flex-basis: 100%
	-ms-flex-positive: 1
	flex-grow: 0
	-ms-flex-align: center
	align-items: center
// -----------------------------------------------------
// 上層廣告
#top-ads
	margin: 0
	padding-top: 125px
@media (max-width: 992px)
	#top-ads
		padding-top: 135px
// -----------------------------------------------------
// 登錄、搜尋區塊
#searchandlogin
    margin: 20px 0
    .login
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        font-display: row
        text-align: center
        .login-btn
            a
                color: $color_orange
                transition: 0.5s
                &:hover
                    color: $color_dark_orange
                i
                    font-size: 50px
                    margin: 10px
        .user,.org
            border-right: 1px solid $color_orange
        .search
            display: flex
            align-items: center
            flex-direction: column
            .orgnum
                text-align: center
                color: #000
                padding: 5px
            span
                color: #f24
                font-weight: 600
                text-align: center
@media screen and ( max-width: 576px )
    #searchandlogin
        .login
            .login-btn
                a
                    h4
                        font-size: 20px
                    i
                        font-size: 35px    
// -----------------------------------------------------
// 最新活動
#newpost
    display: flex
    flex-wrap: wrap
    .newpostpic
        padding: 0
        .card
            border: none
            img
                width: 100%
            .card-title
                +title
            .date
                +date
            p.card-text
                padding-top: 5px 
                margin-bottom: 0
                overflow: hidden
                white-space: nowrap
                text-overflow: ellipsis
                display: -webkit-box
                -webkit-line-clamp: 3
                -webkit-box-orient: vertical
                white-space: normal
                line-height: 30px
                height: 88px
    .newpostlist
        padding: 0 20px
        .list
            padding-top: 20px
            padding-bottom: 10px
@media screen and ( max-width: 576px )
    #newpost
        margin-top: 50px
        .newpostlist.col-12.col-md-7
            padding-right: 0
            padding-left: 0
// -----------------------------------------------------
// 物資募集
#donate
    +mtb
    .list-wrap
        display: flex
        flex-direction: column
    .list
        padding: 0
        border-bottom: 1px solid $color_gray
        .donatetitle,.donateorg,.donatenumber
            +text-space
        .donatetitle
            +title
            color: $color_dark_orange
        .donateorg,.donatenumber
            font-size: 16px             
@media screen and ( max-width: 576px )
    #donate
        margin-top: 0
        margin-bottom: 0
        padding: 15px
// -----------------------------------------------------
// 人力銀行
#bank
    +mtb
    .list-wrap
        display: flex
        flex-wrap: wrap
        .list
            padding: 0
            border-bottom: 1px solid $color_gray
            .jobname,.joborg,.jobtext
                +text-space
            .jobname
                +title
                color: $color_dark_orange
            .joborg,.jobtext
                font-size: 16px 
            .job-type
                background-color: $color_dark_orange
                padding: 1px 8px
                border-radius: 15px
                color: white
                font-weight: 600
                font-size: 12px
@media screen and ( max-width: 576px )
    #bank
        margin-top: 0
        margin-bottom: 0
        padding: 15px
        .col-12.col-md-6
            padding: 0
// -----------------------------------------------------
// 公益商城
.shopbgc
    background-color: $color_orange
    +mtb
#shop
    +mtb
    display: flex
    flex-wrap: wrap
    .good
        text-align: center
        flex-direction: column
        .pic
            overflow: hidden
            img
                box-shadow: 8px 10px 8px rgba(0,0,0,.15)
                &:hover
                    transition: 0.5s
                    transform: rotate(10deg) scale(1.2)
        .title
            +title
            padding-top: 20px
    .lookmore
        margin-right: auto
        margin-left: auto
@media screen and ( max-width: 992px )
    .good
        margin-bottom: 10px
@media screen and ( max-width: 576px )
    .shopbgc
        background-color: #fff
        .good
            margin-bottom: 10px
    #shop
        padding: 15px
        margin: 0
        .lookmore
            margin: initial
            margin-top: 10px
            margin-left: auto    
// -----------------------------------------------------
// 公益新訊、急難救助、獎助學金
#news
    +mtb
    .list
        padding: 10px 0 7px 0
        span
            margin: 8px 0
            display: block
            color: $color_orange
        .text
            margin-top: 8px
            margin-bottom: 10px
#help
    +mtb
    .list
        padding: 10px 0 7px 0
        span
            margin: 8px 0
            display: block
            color: $color_orange
        .text
            margin-top: 8px
            margin-bottom: 10px
#scholarship
    +mtb
    .list
        padding: 10px 0 7px 0
        span
            margin: 8px 0
            display: block
            color: $color_orange
        .text
            margin-top: 8px
            margin-bottom: 10px
@media screen and ( max-width: 576px )
    #news,#help,#scholarship
        margin: 0
        padding: 15px
// -----------------------------------------------------
// 底部廣告
#bottom_ads
    .pic
        display: flex
        justify-content: center
        +mtb
        img
            width: 100%
@media screen and ( max-width: 576px )
    #bottom_ads 
        .pic
            padding: 30px 0
            margin: 0
            img
                width: 100%  

// -----------------------------------------------------
// footer
footer
    margin-top: 50px
    background-color: $color_orange
    width: 100%
    padding: 50px 0 20px 0
    .footer-left
        padding-top: 40px
        p
            padding: 0
            margin-bottom: 15px

    .footer-right
        .npotimes
            text-align: right
            margin-bottom: 15px
        .input-group
            margin-bottom: 15px
            #suscribe
                margin: 0
            
        .supports
            display: flex
            flex-wrap: wrap
            margin-bottom: 15px
            .logo
                padding: 5px
                img
                    width: 100%
    .bottom-bar
        display: flex
        flex-wrap: wrap
        text-align: center
        align-items: center
        padding: 20px 0 0 0
        max-width: 500px
        a
            transition: 0.5s
            &:hover
                color: $color_dark_orange
@media screen and ( max-width: 576px )
    footer
        .footer-left
            text-align: center
        .footer-right
            .npotimes
                text-align: center
        .bottom-bar
            display: flex
            bottom: 0
            width: 100%
            text-align: center
            .col-3
                padding: 0 5px
// -----------------------------------------------------        
// 2關於我們
#about_us
    .content_top
        margin-top: 150px
        h2.content_title
            &::before
                display: none
        span.content_path
            color: lighten($color_black,10% )
        p
            margin-top: 20px
// -----------------------------------------------------        
// 3.2最新活動
#npo_activities
    .content_top
        margin-top: 150px
        h2.content_title
            &::before
                display: none
        span.content_path
            color: lighten($color_black,10% )
        p
            margin-top: 20px
        .selector
            padding: 15px 20px
            margin-bottom: 20px
            background-color: $color_orange
            .select_wrap
                display: flex
                flex-wrap: wrap
                margin-top: 5px
                margin-bottom: 5px
        .table
            margin-top: 20px
           
            .thead-color
                background-color: $color_orange
            .clickable-row
                cursor: pointer
                transition: 0.5s
                &:hover
                    color: $color_dark_orange
            .type_width
                min-width: 90px
                
        .page
            display: flex
            justify-content: center
            li.page-item
                a.page-link
                    transition: 0.5s
                    color: $color_gray
                    &:hover
                        color: $color_dark_orange
                        border-color: $color_dark_orange
                        background-color: initial
// -----------------------------------------------------        
// 3.3公益影片
#npo_video
    .content_top
        margin-top: 150px
        h2.content_title
            &::before
                display: none
        span.content_path
            color: lighten($color_black,10% )
        .selector
            padding: 15px 20px
            margin-bottom: 20px
            margin-top: 20px
            background-color: $color_orange
            .select_wrap
                display: flex
                flex-wrap: wrap
                margin-top: 5px
                margin-bottom: 5px
        .videos_img
            display: flex
            flex-wrap: wrap
            margin-top: 20px
            // text-align: center
            .title
                +title
                padding-top: 20px
            .pic
                overflow: hidden
                img
                    box-shadow: 8px 10px 8px rgba(0,0,0,.15)
                    &:hover
                        transition: 0.5s
                        transform: rotate(10deg) scale(1.2)
        .page
            display: flex
            justify-content: center
            li.page-item
                a.page-link
                    transition: 0.5s
                    color: $color_gray
                    &:hover
                        color: $color_dark_orange
                        border-color: $color_dark_orange
                        background-color: initial
// -----------------------------------------------------        
// 5.1物資募集
#npo_donate
    .content_top
        margin-top: 150px
        h2.content_title
            &::before
                display: none
        span.content_path
            color: lighten($color_black,10% )
        p
            margin-top: 20px
        .selector
            padding: 15px 20px
            margin-bottom: 20px
            background-color: $color_orange
            .select_wrap
                display: flex
                flex-wrap: wrap
                margin-top: 5px
                margin-bottom: 5px
                @media screen and ( max-width: 576px )
                    padding: 0
        .table
            margin-top: 20px
            .thead-color
                background-color: $color_orange
                .type_width
                    min-width: 90px
            .clickable-row
                cursor: pointer
                transition: 0.5s
                &:hover
                    color: $color_dark_orange
        .page
            display: flex
            justify-content: center
            li.page-item
                a.page-link
                    transition: 0.5s
                    color: $color_gray
                    &:hover
                        color: $color_dark_orange
                        border-color: $color_dark_orange
                        background-color: initial
// -----------------------------------------------------        
// 5.2企業提供
#npo_donate
    .content_top
        margin-top: 150px
        h2.content_title
            &::before
                display: none
        span.content_path
            color: lighten($color_black,10% )
        p
            margin-top: 20px
        .selector
            padding: 15px 20px
            margin-bottom: 20px
            background-color: $color_orange
            .select_wrap
                display: flex
                flex-wrap: wrap
                margin-top: 5px
                margin-bottom: 5px
                @media screen and ( max-width: 576px )
                    padding: 0
        .table
            margin-top: 20px
            .thead-color
                background-color: $color_orange
                .type_width
                    min-width: 90px
            .clickable-row
                cursor: pointer
                transition: 0.5s
                &:hover
                    color: $color_dark_orange
        .page
            display: flex
            justify-content: center
            li.page-item
                a.page-link
                    transition: 0.5s
                    color: $color_gray
                    &:hover
                        color: $color_dark_orange
                        border-color: $color_dark_orange
                        background-color: initial
// -----------------------------------------------------        
// 7公益商城
#welfare_shop
    .content_top
        margin-top: 150px
        h2.content_title
            &::before
                display: none
        span.content_path
            color: lighten($color_black,10% )
        .selector
            padding: 15px 20px
            margin-bottom: 20px
            margin-top: 20px
            background-color: $color_orange
            .select_wrap
                display: flex
                flex-wrap: wrap
                margin-top: 5px
                margin-bottom: 5px
                @media screen and ( max-width: 576px )
                    padding: 0
        .products
            display: flex
            flex-wrap: wrap
            margin-top: 20px
            text-align: center
            .title
                +title
                padding-top: 20px
            .pic
                overflow: hidden
                img
                    box-shadow: 8px 10px 8px rgba(0,0,0,.15)
                    &:hover
                        transition: 0.5s
                        transform: rotate(10deg) scale(1.2)
        .page
            display: flex
            justify-content: center
            li.page-item
                a.page-link
                    transition: 0.5s
                    color: $color_gray
                    &:hover
                        color: $color_dark_orange
                        border-color: $color_dark_orange
                        background-color: initial
// -----------------------------------------------------        
// 8非營利組織名錄
#npo_list
    .content_top
        margin-top: 150px
        h2.content_title
            &::before
                display: none
        span.content_path
            color: lighten($color_black,10% )
        p
            margin-top: 20px
        .selector
            padding: 15px 20px
            margin-bottom: 20px
            background-color: $color_orange
            .select_wrap
                display: flex
                flex-wrap: wrap
                margin-top: 5px
                margin-bottom: 5px
                @media screen and ( max-width: 576px )
                    padding: 0
        .table
            margin-top: 20px
            .thead-color
                background-color: $color_orange
            .clickable-row
                cursor: pointer
                transition: 0.5s
                &:hover
                    color: $color_dark_orange
        .page
            display: flex
            justify-content: center
            li.page-item
                a.page-link
                    transition: 0.5s
                    color: $color_gray
                    &:hover
                        color: $color_dark_orange
                        border-color: $color_dark_orange
                        background-color: initial
// -----------------------------------------------------        
// 9.1廣告刊登
#post_ads
    .content_top
        margin-top: 150px
        h2.content_title
            &::before
                display: none
        span.content_path
            color: lighten($color_black,10% )
        p
            margin-top: 20px
// -----------------------------------------------------        
// 9.2合作提案、9.3線上客服
#coorperate,#online_service
    .content_top
        margin-top: 150px
        h2.content_title
            &::before
                display: none
        span.content_path
            color: lighten($color_black,10% )
        p
            margin-top: 20px
        .box
            display: flex
            flex-wrap: wrap
            textarea,input
                border: 1px solid $color_gray
                transition: 0.5s
                &:focus,&:active
                    border-color: $color_dark_orange
            .btns
                display: flex
                justify-content: flex-end
                @media screen and ( max-width: 576px )
                    justify-content: center
                .cooperate_button,.online_service_button
                    display: block
                    background-color: $color_dark_orange
                    padding: 5px 40px
                    margin: 0 15px
                #cooperate_reset,#online_service_reset
                    background-color: $color_light_gray
                #cooperate_submit,#online_service_submit
                    color: $color_white
@media screen and ( max-width: 768px )
    #coorperate,#online_service
        .left-box,.right-box
            padding: 0
// -----------------------------------------------------        
// 