doctype html
html(lang="zh-Hant-TW")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 會員登錄
		//- 匯入連結
		include header.pug
	body#top
		//- 匯入導覽列+gototop
		include nav.pug

		section#all_login.member_same.container
			.row
				.content_top.col-12
					h2.content_title.col-12 會員登錄
					// 左側
					.left.col-12.col-lg-3
						// pc版導覽列
						ul.pc_nav
							li
								i.fa.fa-caret-right
								a(href="10.1.html") 會員登錄
							li
								i.fa.fa-caret-right
								a(href="10.2.html") 會員申請流程說明
							li
								i.fa.fa-caret-right
								a(href="10.3.html") 申請會員
						// 手機版導覽列
						select.selectpicker.phone_nav(onchange="location.href=this.options[this.selectedIndex].value")
							option(value="10.1.html" selected) 會員登錄
							option(value="10.2.html")  會員申請流程說明
							option(value="10.3.html")  申請會員

					// 右側
					.right.col-12.col-lg-9
						form
							//機構專區登錄 開始
							.org_login
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 會員類別
									select.form-control.selectpicker
										option(data-icon="fas fa-users" selected) 機構專區
										option(data-icon="far fa-building") 企業專區
										option(data-icon="far fa-user") 一般會員
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 機構代碼
									input.form-control(type="text" placeholder="請輸入機構代碼")
									.input-group-append
										a.search.btn(href="8.html" target="_balnk") 查詢代碼
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 帳號
									input.form-control(type="email" placeholder="請輸入帳號，帳號為email")
									.input-group-append
										a.search.btn(href="#") 忘記帳號
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 密碼
									input.form-control(type="password" placeholder="請輸入密碼")
									.input-group-append
										a.search.btn(href="#") 忘記密碼
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 驗證碼
									input.form-control(type="text" placeholder="請輸入驗證碼")
									.input-group-append
										a.checkpin_switch.btn(href="#" title="按一下更改驗證碼")
											img.checkpin(src="./img/checkpin.png", alt="")
								button.btn.login_button(type="button" onclick="javascript:location.href='10.1.1.1.html'") 登錄
							//機構專區登錄 結束

							//企業專區登錄 開始
							.com_login
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 會員類別
									select.form-control.selectpicker
										option(data-icon="fas fa-users") 機構專區
										option(data-icon="far fa-building" selected) 企業專區
										option(data-icon="far fa-user") 一般會員
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 公司統編
									input.form-control(type="text" placeholder="請輸入公司統編")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 帳號
									input.form-control(type="email" placeholder="請輸入帳號，帳號為email")
									.input-group-append
										a.search.btn(href="#") 忘記帳號
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 密碼
									input.form-control(type="password" placeholder="請輸入密碼")
									.input-group-append
										a.search.btn(href="#") 忘記密碼
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 驗證碼
									input.form-control(type="text" placeholder="請輸入驗證碼")
									.input-group-append
										a.checkpin_switch.btn(href="#" title="按一下更改驗證碼")
											img.checkpin(src="./img/checkpin.png", alt="")
								button.btn.login_button(type="button" onclick="javascript:location.href='10.1.2.1.html'") 登錄
							//企業專區登錄 結束

							//會員登錄 開始
							.member_login
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 會員類別
									select.form-control.selectpicker
										option(data-icon="fas fa-users") 機構專區
										option(data-icon="far fa-building") 企業專區
										option(data-icon="far fa-user" selected) 一般會員
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 帳號
									input.form-control(type="email" placeholder="請輸入帳號，帳號為email")
									.input-group-append
										a.search.btn(href="#") 忘記帳號
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 密碼
									input.form-control(type="password" placeholder="請輸入密碼")
									.input-group-append
										a.search.btn(href="#") 忘記密碼
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 驗證碼
									input.form-control(type="text" placeholder="請輸入驗證碼")
									.input-group-append
										a.checkpin_switch.btn(href="#" title="按一下更改驗證碼")
											img.checkpin(src="./img/checkpin.png", alt="")
								button.btn.login_button(type="button" onclick="javascript:location.href='10.1.3.1.html'") 登錄
							//會員登錄 結束

							// 機構 > 忘記帳號 開始
							// 程式不用去擋機構已經註冊的人數，dennis會去手動聯絡他們
							.org_login_forgot_email
								h3 忘記帳號
								p 您已要求重新設定台灣公益資訊中心的使用者登入資料：<br>
									| 1.先填妥機構代碼，並選擇上傳機構證明文件後送出。<br>
									| 2.文件上傳後，下一步填寫申請人資料。<br>
									| 若台灣公益資訊中心沒有收到以上所列之傳真文件，為了保護之前的使用者資料，恕不接受重新設定使用者資料之要求。
								h3 重新申請
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 機構代碼
									input.form-control(type="text" placeholder="請輸入機構代碼")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 機構名稱
									input.form-control(type="text" placeholder="請輸入機構名稱")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text email
									input.form-control(type="email" placeholder="請輸入email")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 管理者名稱
									input.form-control(type="text" placeholder="請輸入管理者名稱")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 職稱
									input.form-control(type="text" placeholder="請輸入職稱")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 電話
									input.form-control(type="text" placeholder="請輸入電話")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 傳真
									input.form-control(type="text" placeholder="請輸入傳真，非必填")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 密碼
									input.form-control(type="password" placeholder="請輸入密碼")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 確認密碼
									input.form-control(type="password" placeholder="請再次輸入密碼")
								.custom-file.mb-3
									input.custom-file-input(type="file")
									label.custom-file-label(for="customFile") 請上傳證書
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 驗證碼
									input.form-control(type="text" placeholder="請輸入驗證碼")
									.input-group-append
										a.checkpin_switch.btn(href="#" title="按一下更改驗證碼")
											img.checkpin(src="./img/checkpin.png", alt="")
								// allert會有專人為您服務
								button.btn.login_button(type="button" onclick="javascript:location.href=''") 送出
							// 機構 > 忘記帳號 結束

							// 企業 > 忘記帳號 開始
							// 程式不用去擋機構已經註冊的人數，dennis會去手動聯絡他們
							.org_login_forgot_email
								h3 忘記帳號
								p 您已要求重新設定台灣公益資訊中心的使用者登入資料：<br>
									| 1.先填妥機構代碼，並選擇上傳機構證明文件後送出。<br>
									| 2.文件上傳後，下一步填寫申請人資料。<br>
									| 若台灣公益資訊中心沒有收到以上所列之傳真文件，為了保護之前的使用者資料，恕不接受重新設定使用者資料之要求。
								h3 重新申請
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 公司統編
									input.form-control(type="text" placeholder="請輸入公司統編")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 公司名稱
									input.form-control(type="text" placeholder="請輸入公司名稱")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text email
									input.form-control(type="email" placeholder="請輸入email")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 管理者名稱
									input.form-control(type="text" placeholder="請輸入管理者名稱")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 職稱
									input.form-control(type="text" placeholder="請輸入職稱")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 電話
									input.form-control(type="text" placeholder="請輸入電話")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 傳真
									input.form-control(type="text" placeholder="請輸入傳真，非必填")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 密碼
									input.form-control(type="password" placeholder="請輸入密碼")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 確認密碼
									input.form-control(type="password" placeholder="請再次輸入密碼")
								.custom-file.mb-3
									input.custom-file-input(type="file")
									label.custom-file-label(for="customFile") 請上傳營業證書
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 驗證碼
									input.form-control(type="text" placeholder="請輸入驗證碼")
									.input-group-append
										a.checkpin_switch.btn(href="#" title="按一下更改驗證碼")
											img.checkpin(src="./img/checkpin.png", alt="")
								// allert會有專人為您服務
								button.btn.login_button(type="button" onclick="javascript:location.href=''") 送出
							// 企業 > 忘記帳號 結束

							// 一般會員 > 忘記帳號 開始
							// 程式不用去擋機構已經註冊的人數，dennis會去手動聯絡他們
							.member_login_forgot_email
								h3 忘記帳號
								p 您已要求重新設定台灣公益資訊中心的使用者登入資料：<br>
									| 1.先填妥機構代碼，並選擇上傳機構證明文件後送出。<br>
									| 2.文件上傳後，下一步填寫申請人資料。<br>
									| 若台灣公益資訊中心沒有收到以上所列之傳真文件，為了保護之前的使用者資料，恕不接受重新設定使用者資料之要求。
								h3 重新申請
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text email
									input.form-control(type="email" placeholder="請輸入email")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 姓名
									input.form-control(type="text" placeholder="請輸入姓名")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 電話
									input.form-control(type="text" placeholder="請輸入電話")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 密碼
									input.form-control(type="password" placeholder="請輸入密碼")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 確認密碼
									input.form-control(type="password" placeholder="請再次輸入密碼")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 驗證碼
									input.form-control(type="text" placeholder="請輸入驗證碼")
									.input-group-append
										a.checkpin_switch.btn(href="#" title="按一下更改驗證碼")
											img.checkpin(src="./img/checkpin.png", alt="")
								// allert會有專人為您服務
								button.btn.login_button(type="button" onclick="javascript:location.href=''") 送出
							// 一般會員 > 忘記帳號 結束

							// 機構 > 忘記密碼 開始
							.org_login_forgot_password
								h3 忘記密碼
								.input-group.mb-3
										.input-group-prepend
											span.input-group-text 會員類別
										select.form-control.selectpicker
											option(data-icon="fas fa-users" selected) 機構專區
											option(data-icon="far fa-building") 企業專區
											option(data-icon="far fa-user") 一般會員
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 機構代碼
									input.form-control(type="text" placeholder="請輸入機構代碼")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text email
									input.form-control(type="email" placeholder="請輸入email")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 驗證碼
									input.form-control(type="text" placeholder="請輸入驗證碼")
									.input-group-append
										a.checkpin_switch.btn(href="#" title="按一下更改驗證碼")
											img.checkpin(src="./img/checkpin.png", alt="")
								// alert寄出密碼信件
								button.btn.login_button(type="button" onclick="javascript:location.href=''") 送出
							// 機構 > 忘記密碼 結束

							// 企業 > 忘記密碼 開始
							.com_login_forgot_password
								h3 忘記密碼
								.input-group.mb-3
										.input-group-prepend
											span.input-group-text 會員類別
										select.form-control.selectpicker
											option(data-icon="fas fa-users") 機構專區
											option(data-icon="far fa-building" selected) 企業專區
											option(data-icon="far fa-user") 一般會員
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 公司統編
									input.form-control(type="text" placeholder="請輸入公司統編")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text email
									input.form-control(type="email" placeholder="請輸入email")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 驗證碼
									input.form-control(type="text" placeholder="請輸入驗證碼")
									.input-group-append
										a.checkpin_switch.btn(href="#" title="按一下更改驗證碼")
											img.checkpin(src="./img/checkpin.png", alt="")
								// alert寄出密碼信件
								button.btn.login_button(type="button" onclick="javascript:location.href=''") 送出
							// 企業 > 忘記密碼 結束

							// 一般會員 > 忘記密碼 開始
							.member_login_forgot_password
								h3 忘記密碼
								.input-group.mb-3
										.input-group-prepend
											span.input-group-text 會員類別
										select.form-control.selectpicker
											option(data-icon="fas fa-users") 機構專區
											option(data-icon="far fa-building") 企業專區
											option(data-icon="far fa-user" selected) 一般會員
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text email
									input.form-control(type="email" placeholder="請輸入email")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 驗證碼
									input.form-control(type="text" placeholder="請輸入驗證碼")
									.input-group-append
										a.checkpin_switch.btn(href="#" title="按一下更改驗證碼")
											img.checkpin(src="./img/checkpin.png", alt="")
								// alert寄出密碼信件
								button.btn.login_button(type="button" onclick="javascript:location.href=''") 送出
							// 一般會員 > 忘記密碼 結束

		//- 匯入底部廣告
		include footer_ad.pug
		//- 匯入footer+script
		include footer.pug