doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 前台-機構-履歷查詢-列表
		//- 匯入連結
		include header.pug
	body#top
		//- 匯入導覽列+gototop
		include nav.pug

		section#font_end_org_resume_search_list.member_same.container
			.row
				.content_top.col-12
					h2.content_title.col-12 履歷查詢
					// 左側
					.left.col-12.col-lg-3
						// pc版導覽列
						ul.pc_nav
							li
								i.fa.fa-caret-right
								a(href="10.1.1.1.html") 修改組織基本資料
							li
								i.fa.fa-caret-right
								a(href="10.1.1.3.html") 最新活動
							li
								i.fa.fa-caret-right
								a(href="10.1.1.4.html") 公益影片
							li
								i.fa.fa-caret-right
								a(href="10.1.1.5.html") 補助公告
							li
								i.fa.fa-caret-right
								a(href="10.1.1.6.html") 救助公告
							li
								i.fa.fa-caret-right
								a(href="10.1.1.7.html") 獎助公告
							li
								i.fa.fa-caret-right
								a(href="10.1.1.8.html") 物資需求
							li
								i.fa.fa-caret-right
								a(href="10.1.1.9.html") 志工招募
							li
								i.fa.fa-caret-right
								a(href="10.1.1.10.html") 全職工作
							li
								i.fa.fa-caret-right
								a(href="10.1.1.11.html") 兼職工作
							li
								i.fa.fa-caret-right
								a(href="10.1.1.15.html") 履歷查詢
							li
								i.fa.fa-caret-right
								a(href="10.1.1.12.html") 公益商城
							li
								i.fa.fa-caret-right
								a(href="10.1.1.13.html") 組織使用者維護
							li
								i.fa.fa-caret-right
								a(href="10.1.1.2.html") 廣告刊登
							li
								i.fa.fa-caret-right
								a(href="10.1.1.14.html") 修改密碼
							li
								i.fa.fa-caret-right
								a(href="10.1.html") 登出
						// 手機版導覽列
						select.selectpicker.phone_nav(onchange="location.href=this.options[this.selectedIndex].value")
							option(value="10.1.1.1.html") 修改組織基本資料
							option(value="10.1.1.3.html")  最新活動
							option(value="10.1.1.4.html")  公益影片
							option(value="10.1.1.5.html")  補助公告
							option(value="10.1.1.6.html")  救助公告
							option(value="10.1.1.7.html")  獎助公告
							option(value="10.1.1.8.html")  物資需求
							option(value="10.1.1.9.html")  志工招募
							option(value="10.1.1.10.html")  全職工作
							option(value="10.1.1.11.html" selected)  兼職工作
							option(value="10.1.1.15.html")  履歷查詢
							option(value="10.1.1.12.html")  公益商城
							option(value="10.1.1.13.html")  組織使用者維護
							option(value="10.1.1.2.html") 廣告刊登
							option(value="10.1.1.14.html")  修改密碼
							option(value="10.1.html")  登出
					// 右側
					.right.col-12.col-lg-9
						.warring_rule
							h4 注意事項
							ol
								li 禁止張貼違反「就業服務法」、「性別平等工作法」、「勞基法」與其他法律之文章，發文者已同意一切遵循現行法律，並確知文責自負。
								li 提醒您，為保障國民就業機會平等，雇主對求職人或所僱用員工，不得以種族、階級、語言、思想、宗教、黨派、籍貫、出生地、性別、性傾向、年齡、婚姻、容貌、五官、身心障礙或以往工會會員身分為由，予以歧視；但工作性質僅適合特定性別者，不在此限。
								li 依據工作之性質與特點，確保在適當之安全與衛生條件下從事工作。
								li 請利用左方選單「發佈志工招募」單元發佈志工招募訊息，違者原文恕刪。
						form.search
							.select_wrap.col-12.col-md-5
								select.col-12.selectpicker(data-size="5")
									option(selected="" disabled="") 行業類別
									option 醫護
									option 照護
									option 社工
									option 行政
									option 財會
									option 行銷
									option 企劃
									option 人資
									option 業務
									option 客服
									option 傳媒
									option 美編
									option 資訊
									option 講師
									option 其他
							.select_wrap.col-12.col-md-5
								input.form-control.col-12(type="text" placeholder="關鍵字")
							.select_wrap.col-12.col-md-2
								button.btn.submit.col-12.m-0(type="button") 送出
								
						table.table.col-12
							thead.thead-color.text-center
								tr
									th.type_width.off(scope="col") 行業類別
									th(scope="col") 姓名
									th(scope="col") 職務名稱
									th.type_width(scope="col") 點閱次數
							tbody
								tr.clickable-row(data-href="10.1.1.15.1.html")
									th.text-center.off(scope="row") 會計
									th.text-center.text-truncate 王大明
									td.text-center.text-truncate 行銷企劃人員
									td.text-center 107
								tr.clickable-row(data-href="10.1.1.15.1.html")
									th.text-center.off(scope="row") 會計
									th.text-center.text-truncate 王大明
									td.text-center.text-truncate 行銷企劃人員
									td.text-center 107
								tr.clickable-row(data-href="10.1.1.15.1.html")
									th.text-center.off(scope="row") 會計
									th.text-center.text-truncate 王大明
									td.text-center.text-truncate 行銷企劃人員
									td.text-center 107
								tr.clickable-row(data-href="10.1.1.15.1.html")
									th.text-center.off(scope="row") 會計
									th.text-center.text-truncate 王大明
									td.text-center.text-truncate 行銷企劃人員
									td.text-center 107
								tr.clickable-row(data-href="10.1.1.15.1.html")
									th.text-center.off(scope="row") 會計
									th.text-center.text-truncate 王大明
									td.text-center.text-truncate 行銷企劃人員
									td.text-center 107
								tr.clickable-row(data-href="10.1.1.15.1.html")
									th.text-center.off(scope="row") 會計
									th.text-center.text-truncate 王大明
									td.text-center.text-truncate 行銷企劃人員
									td.text-center 107
								tr.clickable-row(data-href="10.1.1.15.1.html")
									th.text-center.off(scope="row") 會計
									th.text-center.text-truncate 王大明
									td.text-center.text-truncate 行銷企劃人員
									td.text-center 107
								tr.clickable-row(data-href="10.1.1.15.1.html")
									th.text-center.off(scope="row") 會計
									th.text-center.text-truncate 王大明
									td.text-center.text-truncate 行銷企劃人員
									td.text-center 107
								tr.clickable-row(data-href="10.1.1.15.1.html")
									th.text-center.off(scope="row") 會計
									th.text-center.text-truncate 王大明
									td.text-center.text-truncate 行銷企劃人員
									td.text-center 107
								tr.clickable-row(data-href="10.1.1.15.1.html")
									th.text-center.off(scope="row") 會計
									th.text-center.text-truncate 王大明
									td.text-center.text-truncate 行銷企劃人員
									td.text-center 107
								tr.clickable-row(data-href="10.1.1.15.1.html")
									th.text-center.off(scope="row") 會計
									th.text-center.text-truncate 王大明
									td.text-center.text-truncate 行銷企劃人員
									td.text-center 107
								tr.clickable-row(data-href="10.1.1.15.1.html")
									th.text-center.off(scope="row") 會計
									th.text-center.text-truncate 王大明
									td.text-center.text-truncate 行銷企劃人員
									td.text-center 107
								tr.clickable-row(data-href="10.1.1.15.1.html")
									th.text-center.off(scope="row") 會計
									th.text-center.text-truncate 王大明
									td.text-center.text-truncate 行銷企劃人員
									td.text-center 107
								tr.clickable-row(data-href="10.1.1.15.1.html")
									th.text-center.off(scope="row") 會計
									th.text-center.text-truncate 王大明
									td.text-center.text-truncate 行銷企劃人員
									td.text-center 107
								tr.clickable-row(data-href="10.1.1.15.1.html")
									th.text-center.off(scope="row") 會計
									th.text-center.text-truncate 王大明
									td.text-center.text-truncate 行銷企劃人員
									td.text-center 107
						include page.pug





		//- 匯入底部廣告
		include footer_ad.pug
		//- 匯入footer+script
		include footer.pug