doctype html
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 前台-企業-企業提供-列表
		//- 匯入連結
		include header.pug
	body#top
		//- 匯入導覽列+gototop
		include nav.pug
		.mt-135
		section.container
			.row
				.title.col-12 
					h2 企業提供
				.content.col-12
					.member_same
						// 左側
						.left
							// pc版導覽列
							ul.pc_nav
								li
									i.fa.fa-caret-right
									a(href="10.1.2.1.html") 修改企業基本資料
								li
									i.fa.fa-caret-right
									a(href="10.1.2.2.html") 企業提供
								li
									i.fa.fa-caret-right
									a(href="10.1.2.3.html") 企業使用者維護
								li
									i.fa.fa-caret-right
									a(href="10.1.2.4.html") 修改密碼
								li
									i.fa.fa-caret-right
									a(href="10.1.html") 登出
							// 手機版導覽列
							select.selectpicker.phone_nav(onchange="location.href=this.options[this.selectedIndex].value")
								option(value="10.1.2.1.html") 修改企業基本資料
								option(value="10.1.2.2.html" selected) 企業提供
								option(value="10.1.2.3.html") 企業使用者維護
								option(value="10.1.2.4.html") 修改密碼
								option(value="10.1.html")  登出
						// 右側
						.right
							.front_end_list
								.top_information
									h4 企業名稱&nbsp;&nbsp;網軟公司
									.top_information_year
										span 年度
										select.selectpicker.post_year(data-size="5")
											option 2020
											option 2019
											option 2018
											option 2017
											option 2016
											option 2015
										button.btn.btn-sm(type="button" onclick="javascript:location.href='10.1.1.8.1.html'") 新增
								.warring_rule
									h4 注意事項
									ol
										li 本服務提供每個機構每月發佈10則募集物資廣告。
										li 本中心保有所有機構發佈之物資募集訊息的審核權力。
										li 本單元僅限募集實體物資，欲刊登募款或義賣訊息請利用公益廣告欄位。
										li 發佈物資募集訊息請使用「發佈物資募集」功能，違者原文恕刪
								table.table.table-striped
									thead
										tr.text-center
											th(scope="col" style="width: 15%") 類別
											th.text-left(scope="col" style="width: 35%") 物資名稱
											th(scope="col" style="width: 20%") 截止時間
											th(scope="col" style="width: 15%") 點閱次數
											th(scope="col" style="width: 15%") 審核狀態
									tbody
										- for ( var i=1 ; i<=15 ; i++)
											tr.text-center(onclick="document.location = '10.1.2.2.1.html';")
												td(data-th="類別") 綜合性服務
												td.text-left.text-truncate(data-th="物資名稱") 第四屆「堉璘台灣奉獻獎」公開徵選第四屆「堉璘台灣奉獻獎」公開徵選
												td(data-th="截止時間") 2020/04/13
												td(data-th="點閱次數") 107
												td(data-th="審核狀態") 審核中
							include page.pug
		//- 匯入底部廣告
		include footer_ad.pug
		//- 匯入footer+script
		include footer.pug