doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 前台-企業-修改企業基本資料
		//- 匯入連結
		include header.pug
	body#top
		//- 匯入導覽列+gototop
		include nav.pug

		section#font_end_com_information.member_same.container
			.row
				.content_top.col-12
					h2.content_title.col-12 修改企業基本資料
					// 左側
					.left.col-12.col-lg-3
						// pc版導覽列
						ul.pc_nav
							li
								i.fa.fa-caret-right
								a(href="10.1.2.1.html") 修改企業基本資料
							li
								i.fa.fa-caret-right
								a(href="10.1.2.2.html") 企業提供
							li
								i.fa.fa-caret-right
								a(href="10.1.2.3.html") 企業使用者維護
							li
								i.fa.fa-caret-right
								a(href="10.1.2.4.html") 修改密碼
							li
								i.fa.fa-caret-right
								a(href="10.1.html") 登出
						// 手機版導覽列
						select.selectpicker.phone_nav(onchange="location.href=this.options[this.selectedIndex].value")
							option(value="10.1.2.1.html" selected) 修改企業基本資料
							option(value="10.1.2.2.html") 企業提供
							option(value="10.1.2.3.html") 企業使用者維護
							option(value="10.1.2.4.html") 修改密碼
							option(value="10.1.html")  登出
					// 右側
					.right.col-12.col-lg-9
						form
							.register_form
								// 必填
								.col-12.col-md-6
									.form-group
										label 企業名稱
										input.form-control(type="text")
								// 必填
								.col-12.col-md-6
									.form-group
										label 企業統編
										input.form-control(type="text")
								// 必填
								.col-12.col-md-6
									.form-group
										label 上傳Logo
										.custom-file
											input.custom-file-input(type="file")
											label.custom-file-label 建議尺寸800X800px
								// 必填
								.col-12.col-md-6
									.form-group
										label 上傳登記證
										.custom-file
											input.custom-file-input(type="file")
											label.custom-file-label 上傳證書
								// 必填
								.col-12.col-md-6
									.form-group
										label 負責人
										input.form-control(type="text")
								// 必填
								.col-12.col-md-6
									.form-group
										label 聯絡人
										input.form-control(type="text")
								// 必填
								.col-12.col-md-6
									.form-group
										label 電話
										input.form-control(type="text")
								// 必填
								.col-12.col-md-6
									.form-group
										label 傳真
										input.form-control(type="text")
								// 必填
								.col-6.col-md-3.left
									.form-group
										label 地址(中)
										select.form-control.selectpicker(data-size="5")
											option(selected disabled) 縣市
											option 台北市
											option 新北市
											option 桃園市
											option 我都行
								.col-6.col-md-3.right
									.form-group
										label.invisiable 地址(中)
										select.form-control.selectpicker(data-size="5")
											option(selected disabled) 行政區
											option 台中市
											option 台南市
											option 高雄市
											option 我都愛
								.col-12.col-md-6
									.form-group
										label.invisiable 地址(中)
										input.form-control(type="text")
								// 必填
								.col-12
									.form-group
										label Email
										input.form-control(type="email")
								.col-12
									.form-group
										label 備註
										textarea.form-control(rows="5")
								.input-group.mb-3
									.input-group-prepend
										span.input-group-text 驗證碼
									input.form-control(type="text" placeholder="請輸入驗證碼")
									.input-group-append
										a.checkpin_switch.btn(href="#" title="按一下更改驗證碼")
											img.checkpin(src="./img/checkpin.png", alt="")
								button.btn.login_button(type="button" onclick="javascript:location.href=''") 送出


		//- 匯入底部廣告
		include footer_ad.pug
		//- 匯入footer+script
		include footer.pug