doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 前台-機構-履歷查詢-單元頁
		//- 匯入連結
		include header.pug
	body#top
		//- 匯入導覽列+gototop
		include nav.pug

		section#font_end_org_resume_search_unit.member_same.container
			.row
				.content_top.col-12
					h2.content_title.col-12 履歷查詢
					// 左側
					.left.col-12.col-lg-3
						// pc版導覽列
						ul.pc_nav
							li
								i.fa.fa-caret-right
								a(href="10.1.1.1.html") 修改機構基本資料
							li
								i.fa.fa-caret-right
								a(href="10.1.1.3.html") 最新活動
							li
								i.fa.fa-caret-right
								a(href="10.1.1.4.html") 公益影片
							li
								i.fa.fa-caret-right
								a(href="10.1.1.5.html") 補助公告
							li
								i.fa.fa-caret-right
								a(href="10.1.1.6.html") 救助公告
							li
								i.fa.fa-caret-right
								a(href="10.1.1.7.html") 獎助公告
							li
								i.fa.fa-caret-right
								a(href="10.1.1.8.html") 物資需求
							li
								i.fa.fa-caret-right
								a(href="10.1.1.9.html") 志工招募
							li
								i.fa.fa-caret-right
								a(href="10.1.1.10.html") 全職工作
							li
								i.fa.fa-caret-right
								a(href="10.1.1.11.html") 兼職工作
							li
								i.fa.fa-caret-right
								a(href="10.1.1.15.html") 履歷查詢
							li
								i.fa.fa-caret-right
								a(href="10.1.1.12.html") 公益商城
							li
								i.fa.fa-caret-right
								a(href="10.1.1.13.html") 機構使用者維護
							li
								i.fa.fa-caret-right
								a(href="10.1.1.2.html") 廣告刊登
							li
								i.fa.fa-caret-right
								a(href="10.1.1.14.html") 修改密碼
							li
								i.fa.fa-caret-right
								a(href="10.1.html") 登出
						// 手機版導覽列
						select.selectpicker.phone_nav(onchange="location.href=this.options[this.selectedIndex].value")
							option(value="10.1.1.1.html") 修改機構基本資料
							option(value="10.1.1.3.html")  最新活動
							option(value="10.1.1.4.html")  公益影片
							option(value="10.1.1.5.html")  補助公告
							option(value="10.1.1.6.html")  救助公告
							option(value="10.1.1.7.html")  獎助公告
							option(value="10.1.1.8.html")  物資需求
							option(value="10.1.1.9.html")  志工招募
							option(value="10.1.1.10.html")  全職工作
							option(value="10.1.1.11.html")  兼職工作
							option(value="10.1.1.15.html" selected)  履歷查詢
							option(value="10.1.1.12.html")  公益商城
							option(value="10.1.1.13.html")  機構使用者維護
							option(value="10.1.1.2.html") 廣告刊登
							option(value="10.1.1.14.html")  修改密碼
							option(value="10.1.html")  登出
					// 右側
					.right.col-12.col-lg-9
						form.member_resume
							h4.col-12 基本資料
							.col-12
								.form-group
									label 姓名
									input.form-control(type="text")
							
							.col-12
								.form-group
									label 電話
									input.form-control(type="text")
							.col-12
								.form-group
									label Email
									input.form-control(type="email")
							.col-12
								.form-group
									label 兵役狀況
									.solider
										.form-check
											input.form-check-input(type="radio" name="solider")
											label.form-check-label 役畢
										.form-check
											input.form-check-input(type="radio" name="solider")
											label.form-check-label 未役
										.form-check
											input.form-check-input(type="radio" name="solider")
											label.form-check-label 免役
							.col-12
								.form-group
									label 最高學歷
									select.form-control.selectpicker(data-size="5")
										option 博士
										option 碩士
										option 大學
										option 專科
										option 高中
										option 高職
										option 國中
										option 國小
										option 其他
							.col-12.col-md-6
								.form-group
									label 學歷/科系
									input.form-control(type="text")
							.col-12.col-md-6
								.form-group
									label 就學情況
									input.form-control(type="text" placeholder="哪一年必/肆業、就學中")
							h4.col-12 工作經歷1
							.col-12.col-md-6
								.form-group
									label 公司名稱
									input.form-control(type="text")
							.col-12.col-md-6
								.form-group
									label 行業別
									input.form-control(type="text")
							.col-12.col-md-6
								.form-group
									label 工作職稱
									input.form-control(type="text")
							.col-12.col-md-6
								.form-group
									label 工作期間
									input.form-control(type="text")
							h4.col-12 工作經歷2
							.col-12.col-md-6
								.form-group
									label 公司名稱
									input.form-control(type="text")
							.col-12.col-md-6
								.form-group
									label 行業別
									input.form-control(type="text")
							.col-12.col-md-6
								.form-group
									label 工作職稱
									input.form-control(type="text")
							.col-12.col-md-6
								.form-group
									label 工作期間
									input.form-control(type="text")
							h4.col-12 工作經歷3
							.col-12.col-md-6
								.form-group
									label 公司名稱
									input.form-control(type="text")
							.col-12.col-md-6
								.form-group
									label 行業別
									input.form-control(type="text")
							.col-12.col-md-6
								.form-group
									label 工作職稱
									input.form-control(type="text")
							.col-12.col-md-6
								.form-group
									label 工作期間
									input.form-control(type="text")
							h4.col-12 背景及專長
							.col-12
								.form-group
									label 工作專長
									textarea.form-control(rows="5")
							//- .col-12
							//- 	.form-group
							//- 		label 上傳證書
							//- 		.custom-file 
							//- 			input.custom-file-input(type="file")
							//- 			label.custom-file-label 若有多份證書，請彙整成pdf檔上傳
							.col-12
								.form-group
									label 駕照種類
									textarea.form-control(rows="5")
							.col-12
								.form-group
									label 語文能力
									textarea.form-control(rows="5")
							.col-12
								.form-group
									label 電腦能力
									textarea.form-control(rows="5")
							h4.col-12 其他
							//- .col-12
							//- 	.form-group
							//- 		label 上傳自傳
							//- 		.custom-file 
							//- 			input.custom-file-input(type="file")
							//- 			label.custom-file-label 上傳自傳
							.col-12.col-md-6
								.form-group
									label 行業類別
									select.form-control.selectpicker(data-size="5")
										option(selected="" disabled="") 行業類別
										option 行政
										option 總務
										option 財會
										option 行銷
										option 企劃
										option 人資
										option 業務
										option 客服
										option 傳媒
										option 美編
										option 資訊
										option 教職
										option 醫療
										option 社工
										option 其他
							.col-12.col-md-6
								.form-group
									label 期望薪資
									input.form-control(type="text")
							h4.col-12 附件
							a.col-12(href="#") 查看履歷
							a.col-12(href="#") 查看證書


		//- 匯入底部廣告
		include footer_ad.pug
		//- 匯入footer+script
		include footer.pug