doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 使用說明
		//- 匯入連結
		include header.pug
	body#top
		//- 匯入導覽列+gototop
		include nav.pug

		section#useing_documentation.container
			.row
				.content_top.col-12
					h2.content_title.col-12 使用說明
					h3.col-12 新手上路 輕鬆上手三步驟
					h4.col-12 Step.1 註冊會員
					p.col-12 點選網站首頁的「會員註冊」填寫機構相關資料。
					p.col-12 ※註冊前請先到「非營利組織名錄」裡確認是否註冊過，請勿重複註冊。
					h4.col-12 Step.2 上傳證明文件
					p.col-12 上傳機構登記證明或足以證明之相關文件。
					p.col-12 ※請務必確認上傳的檔案是否清楚(或傳真至02-25852632)。
					p.col-12 ※若上傳檔案後出現錯誤畫面，請確認檔案檔名是否為中文(檔名建議改為英文或數字)
					h4.col-12 Step.3 登入使用
					p.col-12 審核通過後會發送通知信件，到網站右上角的機構專區登入後即可使用。
					p.col-12 ※將於註冊後的三個工作天內審核並開放權限。
					h3.col-12 會員註冊/登入相關問題
					h4.col-12 1.如何成為台灣公益資訊中心會員？
					p.col-12
						| 請由網站首頁右上方「機構專區」進入，參照右方註冊說明，填寫貴機構資料送出後，請將機構登記證明影本或足以證明效力之相關文件影本傳真至台灣公益資訊中心02-25852632，待收到貴機構資料後，台灣公益資訊中心會於三個工作天內作審核、並開放權限。
					p.col-12 註冊前請先至非營利組織名錄輸入貴機構關鍵字查詢是否已經註冊過，請勿重覆註冊。
					h4.col-12 2.政府機構無立案證書，應傳真何種相關文件？
					p.col-12 請於註冊時，將貴機構網址及聯絡方式註明清楚，以便審核。
					h4.col-12 3.註冊需要費用嗎？
					p.col-12 台灣公益資訊中心所有服務皆為免費。
					h4.col-12 4.訊息刊登標準
					ul.col-12
						li 與公益無相關之活動，請勿刊登在此。
						li 本服務僅供發佈非營利性質活動資訊，且活動費用每日不得超過新台幣3,000元，營利性質活動請勿刊登。
						li 台灣公益資訊中心保有審核權力。
						li
							| 註冊為台灣公益資訊中心的會員，可免費使用本網站所有服務，包括發布公益新訊、公益活動、公益徵才、公益
							| 影片、公益廣告(NPOad)。台灣公益資訊中心秉持對所有公益團體會員平等、平權的立場，且避免部分公益團體
							| 濫發訊息，因此設定總量控管，控管數量如下：
					table.col-12.table
						thead.thead-color.text-center
							tr
								th(scope="col") 服務
								th(scope="col") 數量
						tbody
							tr
								th.text-center(scope="row") 公益新訊
								th.text-center 每月10則
							tr
								th.text-center(scope="row") 最新活動
								th.text-center 每月10則
							tr
								th.text-center(scope="row") 人力銀行
								th.text-center 每月10則
							tr
								th.text-center(scope="row") 公益影片
								th.text-center 每月10則
							tr
								th.text-center(scope="row") 公益廣告 (NPO Ad)
								th.text-center 每月5則
							tr
								th.text-center(scope="row") 物資募集
								th.text-center 每月10則
					h4.col-12 5.如何登入會員專區？
					p.col-12 請由網站首頁右上方「會員專區」進入，輸入貴機構機構代號、機構使用者e-mail帳號、機構使用者密碼、驗證碼，即可登入使用台灣公益資訊中心各項服務。
					h4.col-12 6.忘記密碼
					p.col-12 進入會員專區，輸入機構代碼及使用者註冊時登錄的e-mail作查詢，系統會自動將密碼寄至您的信箱。
					h4.col-12 7.忘記機構代碼
					p.col-12 進入非營利組織名錄，輸入貴機構關鍵字後搜尋，即可得知機構代碼，例如：機構全名為「喜瑪拉雅研究發展基金會」，可輸入 "喜瑪" 搜尋。
					h4.col-12 8.之前使用者已離職，無email及密碼,無法登入,該怎麼辦？
					p.col-12
						| 登錄後使用者資料變更、上傳機構登記證明影本或足以證明效力之相關文件(若上傳有問題可至線上客服留言告知)，待收到貴機構資料後，台灣公益資訊中心會於三個工作天內作審核、並開放權限。
					h4.col-12 9.已透過忘記密碼來取得正確的密碼，但也收不到系統發出的信，請問該如何解決？
					p.col-12 請確認您輸入的密碼為註冊時登入的e-mail，或是檢查垃圾信件匣。
					h4.col-12 10.如何更改機構資料？
					p.col-12 請確認您輸入的密碼為註冊時登入的e-mail，或是檢查垃圾信件匣。
					h4.col-12 11.已申請使用者變更，卻一直無法登入？
					p.col-12 請確認貴機構是否已將機構登記證明影本或足以證明效力之相關文件影本上傳或是傳真至台灣公益資訊中心。
					h3.col-12 發布訊息相關問題
					h4.col-12 1.如何發布公益新訊？
					p.col-12
						| 請將新聞稿Email至webmaster@npo.org.tw，台灣公益資訊中心會於收到新聞稿後三個工作天內作審核並刊登。(活動、求才訊息...等請直接登入後刊登於發佈活動、發佈職缺)
					h4.col-12 2.如何發佈公益活動、影片、廣告？
					p.col-12 欲刊登公益新訊、活動、影片、廣告，首先必須為台灣公益資訊中心網站會員，請由網站首頁右上方「機構專區」進入，參照右方註冊說明進行註冊。
					h4.col-12 3.如何發布公益新訊？
					p.col-12
						| 公益新訊暫不開放使用者自行刊登，如欲刊登，請將貴機構提供機構代碼及新聞稿，e-mail至 webmaster@npo.org.tw，台灣公益資訊中心會於三個工作天內作審核、並協助刊登。
					h4.col-12 4.如何作廣告託播？如何上傳banner？
					p.col-12
						| 公益廣告暫不開放使用者自行刊登，如欲刊登，請提供機構代碼、廣告主題、廣告圖檔、廣告刊登期間、廣告連結網址，e-mail至 webmaster@npo.org.tw，台灣公益資訊中心會於三個工作天內作審核、並協助刊登。
					p.col-12 詳細使用規範請參考廣告刊登
					h4.col-12 5.無法上傳附件？
					p.col-12 請確認您上傳附件的檔名是否為英文，請勿使用英文字以外之檔名。
					h3.col-12 網站服務
					p.col-12
						b 公益新訊：
						| 提供會員發佈公益新聞。
					p.col-12
						b 最新活動：
						| 提供會員發佈公益活動及進行線上報名，包括活動、研習、會議、演講、座談...等。
					p.col-12
						b 人力銀行：
						| 提供會員發佈人才招募訊息，包括正職工作、兼職工作、志工招募。
					p.col-12
						b 非營利組織名錄：
						| 提供註冊的會員名錄。
					p.col-12
						b 公益影片：
						| 提供會員發佈公益影片。
					p.col-12
						b NPO Ad：
						| 提供會員發佈公益廣告。
					p.col-12
						b NPO TIMES：
						| 提供一般使用者訂閱公益資訊電子報。

		//- 匯入底部廣告
		include footer_ad.pug
		//- 匯入footer+script
		include footer.pug