doctype html
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 隱私權政策
		//- 匯入連結
		include header.pug
	body#top
		//- 匯入導覽列+gototop
		include nav.pug
		.mt-135
		section.container
			.row
				.title.col-12
					h2 隱私權政策
				//- 匯入手機版社群分享
				include phone_social_share.pug
				.content.col-12
					h3 「台灣公益資訊中心」關於用戶隱私權的聲明
					hr
					p 「台灣公益資訊中心」是由「網軟股份有限公司」所經營；為了支持個人資料的保護，以維護線上隱私權，「台灣公益資訊中心」謹以下列聲明，對外說明「台灣公益資訊中心」相關網站在線上搜集用戶個人資料的方式、範圍、利用方法、以及查詢或更正的方式等事項；用戶如果對於「台灣公益資訊中心」隱私權聲明、或與個人資料有關之相關事項有任何疑問，可以利用「台灣公益資訊中心」客服中心聯絡，「台灣公益資訊中心」將儘快回覆說明。
					
					h3 隱私權保護宣告的適用範圍
					hr
					p 以下的隱私權宣告，適用於您在使用「台灣公益資訊中心」網站服務時，所涉及的個人資料蒐集、運用與保護。
					h3 用戶資料取得
					p 根據「台灣公益資訊中心」所提供的不同服務，可能向會員蒐集下列個人基本資料：
					p
						b 機構註冊：
						| 當公益團體註冊成為「台灣公益資訊中心」會員時，我們會請您提供包括貴機構名稱、創辦人、執行長、聯絡人、電話、傳真、地址、電子郵件信箱…等資訊。
					p
						b 機構使用者註冊：
						| 當您註冊成為「台灣公益資訊中心」機構使用者時，我們會請您提供包括姓名、職稱、電話、傳真、電子郵件信箱…等個人資訊。
					p
						b NPO Times電子報：
						|當您訂閱「台灣公益資訊中心NPO Times電子報」時，會請您電子郵件信箱…等個人資訊。
					p
						b 一般瀏覽：
						|「台灣公益資訊中心」會記錄用戶上站的位址、以及在「台灣公益資訊中心」相關網站內的瀏覽活動等資料，但是這些資料僅供作流量分析和網路行為調查，以便於改善「台灣公益資訊中心」相關網站的服務品質，這些資料也只是總量上的分析，不會和特定個人相連繫。
					p 您也可能因為「台灣公益資訊中心」網站的橫幅廣告或宣導之超連結，而參與其他網站或機構主辦的活動，這些機構或連結網站對於您主動提供的個人資訊，各有其個別的隱私權保護政策，其資料處理措施不適用本資訊網隱私權保護政策，「台灣公益資訊中心」不負擔任何連帶責任。
					
					h3 個人資料的利用
					hr
					p 「台灣公益資訊中心」相關網站所取得的個人資料，都僅供「台灣公益資訊中心」於其內部、依照原來所說明的使用目的和範圍，除非事先說明、或依照相關法律規定，否則「台灣公益資訊中心」不會將用戶個人資料提供給第三人、或移作其他目的使用。
					
					h3 資料安全
					hr
					p 「台灣公益資訊中心」將盡力以合理之技術及程序，保障所有個人資料之安全。
					
					h3 查詢或更正的方式
					hr
					p 會員對於其個人資料，有查詢及閱覽、複製、補充或更正、停止電腦處理及利用、刪除等需求時，可以隨時在「台灣公益資訊中心」網站中要求更正，或可以與客服中心聯絡，台灣公益資訊中心將迅速進行處理。
					
					h3 資料分享與公開方式
					hr
					p 「台灣公益資訊中心」網站絕不會任意出售、交換、或出租任何您的個人資料給其他團體、個人或私人企業。但有下列情形者除外：
					p 1.配合司法單位合法的調查。
					p 2.配合相關政府職權機關依職務需要之調查或使用。
					p 3.基於善意相信揭露為法律需要，或為維護和改進網站服務而用於管理。

					h3 連結
					hr
					p 「台灣公益資訊中心」相關網站或網頁都可能包含其他網站或網頁的連結，對於此等不屬於「台灣公益資訊中心」之網站或網頁，不論關於其內容或隱私權政策，均與「台灣公益資訊中心」無關。
					
					h3 隱私權保護政策修訂
					hr
					p 「台灣公益資訊中心」網站不定時修訂本項政策，以符合最新之隱私權保護規定。若是您對「台灣公益資訊中心」網站的隱私權保護政策有任何疑問，歡迎與我們聯絡，我們將儘快回覆說明。
		//- 匯入pc版社群分享
		include pc_social_share.pug
		//- 匯入底部廣告
		include footer_ad.pug
		//- 匯入footer+script
		include footer.pug