doctype html
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 組織-志工招募-單元頁
		//- 匯入連結
		include header.pug
	body#top
		//- 匯入導覽列+gototop
		include nav.pug
		.mt-135
		section
			.container
				.row
					.content.col-12
						.org_same_list
							.left
								// <img src="./img/logo/org_logo.jpg" alt="" class="img-fluid fixed_size">
								// <img src="./img/fakeimg/1000x200.png" class="img-fluid fixed_size">
								// <img src="./img/fakeimg/200x1000.png" class="img-fluid fixed_size">
								img.img-fluid.fixed_size(src="./img/fakeimg/800x800.png")
								.profile.off
									h3 財團法人桃園市幸福社會福利基金會
									h3 服務項目：其他
									h3 聯絡人：陳正評
									h3 聯絡電話：0938-938-938
									h3 Email：sinfu@gmail.com
									h3
										| 網站：
										a(href="") 幸福基金會官方網站
									h3 地址：台北市中山區ＸＸＸＸＸ
									h3
										| 商城連結：
										a(href="") 蝦皮商城
									.embed-responsive.embed-responsive-16by9
										iframe.embed-responsive-item(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.041949327373!2d121.52049035066808!3d25.066567283878328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x140dd0f467a85e51%3A0x721f721f1255cf08!2z57ay6Luf6IKh5Lu95pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1592899753483!5m2!1szh-TW!2stw")
							.right
								// 手機版導覽列
								.phone_top_nav
									select.form-control.selectpicker(onchange="location.href=this.options[this.selectedIndex].value" data-size="5")
										option(value="12.1.html") 公益新訊
										option(value="12.2.html") 最新活動
										option(value="12.3.html") 公益影片
										option(value="12.4.html") 補助公告
										option(value="12.5.html") 救助公告
										option(value="12.6.html") 獎助公告
										option(value="12.7.html") 物資募集
										option(value="12.8.html" selected="selected") 志工招募
										option(value="12.9.html") 全職工作
										option(value="12.10.html") 兼職工作
										option(value="12.11.html") 公益商城
										option(value="12.12.html") 機構介紹
								// pc版導覽列
								.pc_top_nav
									.col-2
										a(href="12.1.html")
											h3 公益新訊
									.col-2
										a(href="12.2.html")
											h3 最新活動
									.col-2
										a(href="12.3.html")
											h3 公益影片
									.col-2
										a(href="12.4.html")
											h3 補助公告
									.col-2
										a(href="12.5.html")
											h3 救助公告
									.col-2
										a(href="12.6.html")
											h3 獎助公告
									.col-2
										a(href="12.7.html")
											h3 物資募集
									.col-2
										a.actived(href="12.8.html")
											h3 志工招募
									.col-2
										a(href="12.9.html")
											h3 全職工作
									.col-2
										a(href="12.10.html")
											h3 兼職工作
									.col-2
										a(href="12.11.html")
											h3 公益商城
									.col-2
										a(href="12.12.html")
											h3 機構介紹						
								// 內文
								.content
									// 手機版社群分享
									include phone_social_share.pug
									.intro_list
										h3 台北市私立大園老人養護所招募7/29半日出遊志工
										span.date 2020/06/27
										h3.title 職務說明
										h4 機構名稱：台北市私立大園老人養護所
										h4 職務名稱：7/29半日出遊志工
										h4 職缺類別：志工招募
										h4 服務性質：短期
										h4 職務說明：內文內文內文內文內文內文內文內文
										h4 職務名稱：半日陪伴志工
										h4 職務說明：陪伴長者出游
										h4 需求人數：15
										h4
											| 其他需求：我們預計在7/29 禮拜三上午帶長輩們前往總統府遊覽，早上8:40會先在機構集合簽到，9點從機構出發，12點前會返回機構準時，希望你細心有耐心，不怕與長輩互動，主要內容會是協助推送輪椅或物資
										h4
											| 工作地點：台北市新生南路一段124-3號
											.embed-responsive.embed-responsive-16by9.map
												iframe.embed-responsive-item(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.041949327373!2d121.52049035066808!3d25.066567283878328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x140dd0f467a85e51%3A0x721f721f1255cf08!2z57ay6Luf6IKh5Lu95pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1592899753483!5m2!1szh-TW!2stw")
										h4 工作時間：7/29 8:40-12:00
										h4 工作待遇：內文內文內文內文內文內文內文內文
										h4 員工福利：時數證明
										h4 休假制度：內文內文內文內文內文內文內文內文
										h3.title 工作條件限制
										h4 學歷/科系：內文內文內文內文內文內文內文內文
										h4 工作經驗：內文內文內文內文內文內文內文內文
										h4 具備駕照：內文內文內文內文內文內文內文內文
										h3.title 應徵方式
										h4 聯絡人：張社工
										h4 聯絡電話：02-33931661 12
										h4 傳真：內文內文內文內文內文內文內文內文
										h4 電子郵件：biggardenbiggarden@yahoo.com.tw
										h4 備註：內文內文內文內文內文內文內文內文
									// 回上一頁
									#link
										a(href="12.8.html")
											h4 回列表頁
									// 回上一頁
		// pc版社群分享
		include pc_social_share.pug
		//- 匯入底部廣告
		include footer_ad.pug
		//- 匯入footer+script
		include footer.pug