doctype html
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 創辦人理念
		//- 匯入連結
		include header.pug
	body#top
		//- 匯入導覽列+gototop
		include nav.pug
		.mt-135
		section.container-fluid.p-0
			img.img-fluid(src="./img/about/founder/founder.jpg", alt="")
		section.container
			.row
				.title.col-12
					h2 創辦人理念
				//- 匯入手機版社群分享
				include phone_social_share.pug
				.content.col-12
					h3 韓效忠先生小傳
					p 1930年2月5日，效忠先生生於瀋陽，父親韓靜遠、母親包一民。 生逢戰亂，童年在不斷遷徙中度過，幾可謂走遍大江南北。8歲始唸小學，但資質優異，且一向勤奮自學，課業成績出色。他尤愛學習英文，成為日後就業、創業的重要利器。
					p 台灣大學經濟系畢業後，搭乘貨輪赴美進修，展開邊打工、邊讀書的生涯。在餐廳小弟、美國之音播音員、聯合國翻譯、大學中文教師等兼差職涯中，取得哥倫比亞大學MBA學位。 初期續留哥大教授中文，後應福特基金會之聘，前往印度，協助德里大學成立中國研究所。2年後返美，轉往金融界發展；曾出任Deltec銀行副總經理，專責台灣貸款業務。後赴港擔任該行遠東代表，兼香港分公司總經理。
					p 1972年起，出任多家歐洲銀行顧問，將歐洲美元引進台灣。
					p 至1990年代，23年間，共引入約50億美金。時逢台灣經濟起飛，亟需對外採購設備、能源、器材等，企業需求外匯若渴。源源不絕的歐洲美元宛若甘霖，大大挹注台灣企業發展，推升整體經濟成長。
					p 效忠先生坐擁大量資源，仍一本正派經營理念、勤奮敏銳作風，鎮日奔波全台各地，實地探訪工廠，作為評估貸放依據。公正透明的作風，普遍贏得各界肯定與稱譽。
					p 1990年，他成立喜瑪拉雅研究發展基金會，具體實踐「有生之年善用財富，提升社會品質」理念。同時秉持「無名、無私、無我」原則，大力投入公益領域；協助國內NPO團體成長、培植NPO人才、建置NPO平台及圖書館、與國際NPO接軌；也贊助漢學與兩岸範疇的研究，並長年資助學術人才。
					p 他孝順父母、照顧手足，為人溫文儒雅、謙沖自抑，待人則寬宏大量、器度恢宏。
					p 2015年11月27日凌晨，他安詳辭世。 效忠先生一生頂天立地、俯仰無愧，足為後人典範。

					h3 透過喜瑪拉雅基金會，實踐部分理想
					h4 低調做事，不求聞達
					p 對信奉老子哲學的創辦人而言，「無名、無私、無我」，將核心理念真正落實到執行面。 將喜瑪拉雅定位為「基金會中的基金會」；當非營利組織的堅實後援。
					h4 建置台灣NPO界共享平台
					p 深具國際視野的創辦人，特別關注台灣NPO格局，期望能與國際NPO接軌或是促成雙方交流。 喜瑪拉雅的角色，不僅是立於背後的支撐者，更是站在前端的領航者。 　 台灣非營利組織，從早年稀疏零落，到1990年代百花齊放，但一直缺乏專業資料庫。喜瑪拉雅於1999年，成立「台灣公益資訊中心」。 　 不僅有蒐集完備的國內外資訊，更建置台灣NPO界第一個共享平台，所有NPO的動、靜態訊息，都可在平台上交流。 許多國際NPO界新聞，也透過網站、電子報傳布，幫助業界跟上國際腳步。
					h4 積極培養人才
					p 為台灣培養人才，也是創辦人的目標。創辦人念茲在茲的人才培育，認定那是社會、國家、人類進步的根源。 當然也是基金會贊助重點。設立獎助學金，幫助年輕學者及研究生。
					h4 啟動經濟研究課題
					p 經濟發展，是社會重要課題，基金會與知名專家學者合作，自1997年起，展開各項研究計畫。 數十年盡心盡力，實踐「做社會上需要的事」信念，其過程終究是美麗而感人的。
		//- 匯入pc版社群分享
		include pc_social_share.pug
		//- 匯入底部廣告
		include footer_ad.pug
		//- 匯入footer+script
		include footer.pug