doctype html
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 公益新訊
		//- 匯入連結
		include header.pug
	body#top
		//- 匯入導覽列+gototop
		include nav.pug
		.mt-135
		section.container
			.row
				.title.col-12
					h2 公益新訊
				.content.col-12
					form
						.selector.flex-wrap
							.col-wrap.col-12.col-md-2
								select.selectpicker(data-size="5" data-width="100%")
									option(selected="" disabled="") 類型
									option 綜合性服務
									option 兒童青少年福利
									option 婦女福利
									option 老人福利
									option 身心障礙福利
									opyion 家庭福利
									option 健康醫療
									option 心理衛生
									option 社區規劃(營造)
									option 環境保護
									option 國際合作交流
									option 教育與科學
									opyion 文化藝術
									option 人權和平
									option 消費者保護
									option 性別平等
									option 政府單位
									option 動物保護
							.col-wrap.col-12.col-md-2
								select.selectpicker(data-size="5" data-width="100%")
									option(selected="" disabled="") 年份
									option 2020
									option 2019
									option 2018
									option 2017
									option 2016
							.col-wrap.col-12.col-md-2
								select.selectpicker(data-size="5" data-width="100%")
									option(selected="" disabled="") 月份
									option 1
									option 2
									option 3
									option 4
									option 5
									option 6
									option 7
									option 8
									option 9
									option 10
									option 11
									option 12
							.col-wrap.col-12.col-md-4
								input.form-control(type="text" placeholder="關鍵字")
							.col-wrap.col-12.col-md-2
								button.btn.selector-button(type="button") 送出
						.list
							table.table.table-striped
								thead
									tr
										th.text-center(scope="col" style="width: 20%") 公告時間
										th(scope="col" style="width: 30%") 新訊標題
										th(scope="col" style="width: 50%") 新訊內容
								tbody
									- for ( var i=1 ; i<=15 ; i++)
										tr(onclick="document.location = '12.1.1.html';")
											td.text-center(data-th="公告時間") 2020 / 07 / 01
											td(data-th="新訊標題") 第四屆「堉璘台灣奉獻獎」公開徵選
											td.text-truncate(data-th="新訊內容") 為鼓勵在各領域無私為台灣奉獻的個人或單位，公益信託林堉璘宏泰教育文化公益基金攜手林堉璘宏泰教育基金會成立了「堉璘台灣奉獻獎」，自2017年起每年辦理一次，得主可獲得3000萬獎金進而擴大自身影響力。 今年獎項進入第四屆，自5/1至5/31止受理報名，我們期待「堉璘台灣奉獻獎」不只是一
						include page.pug
		//- 匯入底部廣告
		include footer_ad.pug
		//- 匯入footer+script
		include footer.pug