doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 公益新訊
		//- 匯入連結
		include header.pug
	body#top
		//- 匯入導覽列+gototop
		include nav.pug

		section#npo_news.container
			.row
				.content_top.col-12
					h2.content_title.col-12 公益新訊
					.col-12
						form.form-inline.col-12.selector
							.select_wrap.col-12.col-md-2
								select.col-12.selectpicker(data-size="5")
									option(selected="" disabled="") 類型
									option 綜合性服務
									option 兒童青少年福利
									option 婦女福利
									option 老人福利
									option 身心障礙福利
									opyion 家庭福利
									option 健康醫療
									option 心理衛生
									option 社區規劃(營造)
									option 環境保護
									option 國際合作交流
									option 教育與科學
									opyion 文化藝術
									option 人權和平
									option 消費者保護
									option 性別平等
									option 政府單位
									option 動物保護
							.select_wrap.col-12.col-md-2
								select.col-12.selectpicker(data-size="5")
									option(selected="" disabled="") 年份
									option 2020
									option 2019
									option 2018
									option 2017
									option 2016
							.select_wrap.col-12.col-md-2
								select.col-12.selectpicker(data-size="5")
									option(selected="" disabled="") 月份
									option 1
									option 2
									option 3
									option 4
									option 5
									option 6
									option 7
									option 8
									option 9
									option 10
									option 11
									option 12
							.select_wrap.col-12.col-md-4
								input.form-control.col-12(type="text" placeholder="關鍵字")
							.select_wrap.col-12.col-md-2
								button.btn.lookmore.col-12.m-0(type="button") 送出
						table.table.col-12
							thead.thead-color.text-center
								tr
									th.type_width(scope="col") 公告時間
									th.title_width(scope="col") 新訊標題
									th.off(scope="col") 新訊內容
							tbody
								tr.clickable-row(data-href="12.1.1.html")
									th.text-center(scope="row") 2020/07/01
									th.text-left.text-truncate(scope="row") 第四屆「堉璘台灣奉獻獎」公開徵選
									th.text-truncate.off 為鼓勵在各領域無私為台灣奉獻的個人或單位，公益信託林堉璘宏泰教育文化公益基金攜手林堉璘宏泰教育基金會成立了「堉璘台灣奉獻獎」，自2017年起每年辦理一次，得主可獲得3000萬獎金進而擴大自身影響力。 今年獎項進入第四屆，自5/1至5/31止受理報名，我們期待「堉璘台灣奉獻獎」不只是一
								tr.clickable-row(data-href="12.1.1.html")
									th.text-center(scope="row") 2020/07/01
									th.text-left.text-truncate(scope="row") 吹哨遊戲開跑 即刻為農地止血 農地違章舉報上線
									th.text-truncate.off 近日因新型冠狀病毒疫情緊張，台灣進入半鎖國狀態，糧食自給率更形重要。然而，目前台灣約有13萬家違章工廠佔據農地，而根據台灣環境資訊協會研究調查，自2011年起，每年平均新增約5,000到6,000家，然而2017年農委會核定的「保護農地－拆除農地上新增違規工廠行動方案」卻僅拆除16家。
								tr.clickable-row(data-href="12.1.1.html")
									th.text-center(scope="row") 2020/07/01
									th.text-left.text-truncate(scope="row") 堉璘台灣奉獻獎公布 2019 年獲獎名單
									th.text-truncate.off （2019/12/17，台北訊）基於「取之於社會，用之於社會」的理念而成立的堉璘台灣奉獻 獎，今日公布第三屆獲獎名單並於新北市淡水美麗新淡海影城舉行頒獎典禮。奉獻獎由長期 致力於協助身心障礙者自立的「第一社會福利基金會」執行長賴美智拿下，另外也選出五個 鼓勵獎，
								tr.clickable-row(data-href="12.1.1.html")
									th.text-center(scope="row") 2020/07/01
									th.text-left.text-truncate(scope="row") 第四屆「堉璘台灣奉獻獎」公開徵選
									th.text-truncate.off 行政院振興三倍卷自7/1日起開放預購，12/31前需使用完畢，「藝文紓困2.0」補助申請須知今日公告 5月4日起受理申請
								tr.clickable-row(data-href="12.1.1.html")
									th.text-center(scope="row") 2020/07/01
									th.text-left.text-truncate(scope="row") 第四屆「堉璘台灣奉獻獎」公開徵選
									th.text-truncate.off 行政院振興三倍卷自7/1日起開放預購，12/31前需使用完畢，「藝文紓困2.0」補助申請須知今日公告 5月4日起受理申請
								tr.clickable-row(data-href="12.1.1.html")
									th.text-center(scope="row") 2020/07/01
									th.text-left.text-truncate(scope="row") 第四屆「堉璘台灣奉獻獎」公開徵選
									th.text-truncate.off 行政院振興三倍卷自7/1日起開放預購，12/31前需使用完畢，「藝文紓困2.0」補助申請須知今日公告 5月4日起受理申請
								tr.clickable-row(data-href="12.1.1.html")
									th.text-center(scope="row") 2020/07/01
									th.text-left.text-truncate(scope="row") 第四屆「堉璘台灣奉獻獎」公開徵選
									th.text-truncate.off 行政院振興三倍卷自7/1日起開放預購，12/31前需使用完畢，「藝文紓困2.0」補助申請須知今日公告 5月4日起受理申請
								tr.clickable-row(data-href="12.1.1.html")
									th.text-center(scope="row") 2020/07/01
									th.text-left.text-truncate(scope="row") 第四屆「堉璘台灣奉獻獎」公開徵選
									th.text-truncate.off 行政院振興三倍卷自7/1日起開放預購，12/31前需使用完畢，「藝文紓困2.0」補助申請須知今日公告 5月4日起受理申請
								tr.clickable-row(data-href="12.1.1.html")
									th.text-center(scope="row") 2020/07/01
									th.text-left.text-truncate(scope="row") 第四屆「堉璘台灣奉獻獎」公開徵選
									th.text-truncate.off 行政院振興三倍卷自7/1日起開放預購，12/31前需使用完畢，「藝文紓困2.0」補助申請須知今日公告 5月4日起受理申請
								tr.clickable-row(data-href="12.1.1.html")
									th.text-center(scope="row") 2020/07/01
									th.text-left.text-truncate(scope="row") 第四屆「堉璘台灣奉獻獎」公開徵選
									th.text-truncate.off 行政院振興三倍卷自7/1日起開放預購，12/31前需使用完畢，「藝文紓困2.0」補助申請須知今日公告 5月4日起受理申請
								tr.clickable-row(data-href="12.1.1.html")
									th.text-center(scope="row") 2020/07/01
									th.text-left.text-truncate(scope="row") 第四屆「堉璘台灣奉獻獎」公開徵選
									th.text-truncate.off 行政院振興三倍卷自7/1日起開放預購，12/31前需使用完畢，「藝文紓困2.0」補助申請須知今日公告 5月4日起受理申請
								tr.clickable-row(data-href="12.1.1.html")
									th.text-center(scope="row") 2020/07/01
									th.text-left.text-truncate(scope="row") 第四屆「堉璘台灣奉獻獎」公開徵選
									th.text-truncate.off 行政院振興三倍卷自7/1日起開放預購，12/31前需使用完畢，「藝文紓困2.0」補助申請須知今日公告 5月4日起受理申請
								tr.clickable-row(data-href="12.1.1.html")
									th.text-center(scope="row") 2020/07/01
									th.text-left.text-truncate(scope="row") 第四屆「堉璘台灣奉獻獎」公開徵選
									th.text-truncate.off 行政院振興三倍卷自7/1日起開放預購，12/31前需使用完畢，「藝文紓困2.0」補助申請須知今日公告 5月4日起受理申請
								tr.clickable-row(data-href="12.1.1.html")
									th.text-center(scope="row") 2020/07/01
									th.text-left.text-truncate(scope="row") 第四屆「堉璘台灣奉獻獎」公開徵選
									th.text-truncate.off 行政院振興三倍卷自7/1日起開放預購，12/31前需使用完畢，「藝文紓困2.0」補助申請須知今日公告 5月4日起受理申請
								tr.clickable-row(data-href="12.1.1.html")
									th.text-center(scope="row") 2020/07/01
									th.text-left.text-truncate(scope="row") 第四屆「堉璘台灣奉獻獎」公開徵選
									th.text-truncate.off 行政院振興三倍卷自7/1日起開放預購，12/31前需使用完畢，「藝文紓困2.0」補助申請須知今日公告 5月4日起受理申請
					include page.pug
		
		//- 匯入底部廣告
		include footer_ad.pug
		//- 匯入footer+script
		include footer.pug