doctype html
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 最新活動
		//- 匯入連結
		include header.pug
	body#top
		//- 匯入導覽列+gototop
		include nav.pug
		.mt-135
		section.container
			.row
				.title.col-12
					h2 最新活動
				.content.col-12
					form
						.selector.flex-wrap
							.col-wrap.col-12.col-md-2
								select.selectpicker(data-size="5" data-width="100%")
									option(selected="" disabled="") 類型
									option 活動
									option 研習
									option 會議
									option 演講
									option 座談								
							.col-wrap.col-12.col-md-2
								select.selectpicker(data-size="5" data-width="100%")
									option(selected="" disabled="") 年份
									option 2020
									option 2019
									option 2018
									option 2017
									option 2016
							.col-wrap.col-12.col-md-2
								select.selectpicker(data-size="5" data-width="100%")
									option(selected="" disabled="") 月份
									option 1
									option 2
									option 3
									option 4
									option 5
									option 6
									option 7
									option 8
									option 9
									option 10
									option 11
									option 12
							.col-wrap.col-12.col-md-4
								input.form-control(type="text" placeholder="關鍵字")
							.col-wrap.col-12.col-md-2
								button.btn.selector-button(type="button") 送出
						.list
							.square-list
								- for ( var i=1 ; i<=10 ; i++)
									a(href="12.2.1.html")
										.post
											.post-left
												img.img-fluid(src="./img/activitypic/act1.png", alt="")
											.post-right
												h3.text-truncate 標題名稱標題名稱標題名稱標題名稱標題名稱標題名稱標題名稱標題名稱標題名稱標題名稱標題名稱標題名稱
												span.date 2020/10/02
												p 內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文內文
						include page.pug
		//- 匯入底部廣告
		include footer_ad.pug
		//- 匯入footer+script
		include footer.pug