doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 補助機構
		//- 匯入連結
		include header.pug
	body#top
		//- 匯入導覽列+gototop
		include nav.pug

		section#npo_allowance_list.container
			.row
				.content_top.col-12
					h2.content_title.col-12 補助機構
					.allowance_list
						.pic.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="12.12.html")
								img.img-fluid(src="./img/logo/org_logo_1.jpg")
								h4 機構名稱機構名稱機構名稱
						.pic.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="12.12.html")
								img.img-fluid(src="./img/logo/org_logo_2.jpg")
								h4 機構名稱機構名稱機構名稱
						.pic.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="12.12.html")
								img.img-fluid(src="./img/logo/org_logo_3.jpg")
								h4 機構名稱機構名稱機構名稱
						.pic.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="12.12.html")
								img.img-fluid(src="./img/logo/org_logo_1.jpg")
								h4 機構名稱機構名稱機構名稱
						.pic.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="12.12.html")
								img.img-fluid(src="./img/logo/org_logo_2.jpg")
								h4 機構名稱機構名稱機構名稱
						.pic.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="12.12.html")
								img.img-fluid(src="./img/fakeimg/800x450.png")
								h4 機構名稱機構名稱機構名稱
						.pic.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="12.12.html")
								img.img-fluid(src="./img/fakeimg/1000x200.png")
								h4 機構名稱機構名稱機構名稱
						.pic.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="12.12.html")
								img.img-fluid(src="./img/fakeimg/200x1000.png")
								h4 機構名稱機構名稱機構名稱
						.pic.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="12.12.html")
								img.img-fluid(src="./img/fakeimg/800x800.png")
								h4 機構名稱機構名稱機構名稱
						.pic.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="12.12.html")
								img.img-fluid(src="./img/fakeimg/800x800.png")
								h4 機構名稱機構名稱機構名稱
						.pic.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="12.12.html")
								img.img-fluid(src="./img/fakeimg/800x800.png")
								h4 機構名稱機構名稱機構名稱
						.pic.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="12.12.html")
								img.img-fluid(src="./img/fakeimg/800x800.png")
								h4 機構名稱機構名稱機構名稱
						.pic.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="12.12.html")
								img.img-fluid(src="./img/fakeimg/800x450.png")
								h4 機構名稱機構名稱機構名稱
						.pic.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="12.12.html")
								img.img-fluid(src="./img/fakeimg/800x450.png")
								h4 機構名稱機構名稱機構名稱
						.pic.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="12.12.html")
								img.img-fluid(src="./img/fakeimg/800x450.png")
								h4 機構名稱機構名稱機構名稱
						.pic.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="12.12.html")
								img.img-fluid(src="./img/fakeimg/800x450.png")
								h4 機構名稱機構名稱機構名稱
					include page.pug 
		
		//- 匯入底部廣告
		include footer_ad.pug
		//- 匯入footer+script
		include footer.pug