doctype html
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 補助公告
		//- 匯入連結
		include header.pug
	body#top
		//- 匯入導覽列+gototop
		include nav.pug
		.mt-135
		section.container
			.row
				.title.col-12
					h2 補助公告
				.content.col-12
					form
						.selector.flex-wrap
							.col-wrap.col-12.col-md-3
								select.selectpicker(data-size="5" data-width="100%")
									option(selected="" disabled="") 年份
									option 2020
									option 2019
									option 2018
									option 2017
									option 2016
							.col-wrap.col-12.col-md-3
								select.selectpicker(data-size="5" data-width="100%")
									option(selected="" disabled="") 月份
									option 1
									option 2
									option 3
									option 4
									option 5
									option 6
									option 7
									option 8
									option 9
									option 10
									option 11
									option 12
							.col-wrap.col-12.col-md-4
								input.form-control(type="text" placeholder="關鍵字")
							.col-wrap.col-12.col-md-2
								button.btn.selector-button(type="button") 送出
						.list
							table.table.table-striped
								thead
									tr
										th.text-center(scope="col" style="width: 20%") 公告時間
										th.text-center(scope="col" style="width: 80%") 公告內容
								tbody
									- for ( var i=1 ; i<=15 ; i++)
										tr(onclick="document.location = '12.4.1.html';")
											td.text-center(data-th="公告時間") 2020 / 07 / 01
											td.text-truncate(data-th="公告內容") 第四屆「堉璘台灣奉獻獎」公開徵選第四屆「堉璘台灣奉獻獎」公開徵選第四屆「堉璘台灣奉獻獎」公開徵選第四屆「堉璘台灣奉獻獎」公開徵選第四屆「堉璘台灣奉獻獎」公開徵選第四屆「堉璘台灣奉獻獎」公開徵選
						include page.pug
		//- 匯入底部廣告
		include footer_ad.pug
		//- 匯入footer+script
		include footer.pug