doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 獎助機構
		//- 匯入連結
		include header.pug
	body#top
		//- 匯入導覽列+gototop
		include nav.pug

		section#npo_scholarship_list.container
			.row
				.content_top.col-12
					h2.content_title.col-12 獎助機構
					.scholarship_list.col-12
						.pic.col-12.col-md-6.col-lg-4
							img.img-fluid.fixed_size.clickable-row(src="https://fakeimg.pl/350x150/" data-href="12.12.html")
						.pic.col-12.col-md-6.col-lg-4
							img.img-fluid.fixed_size.clickable-row(src="https://fakeimg.pl/1000x200/" data-href="12.12.html")
						.pic.col-12.col-md-6.col-lg-4
							img.img-fluid.fixed_size.clickable-row(src="https://fakeimg.pl/200x1000/" data-href="12.12.html")
						.pic.col-12.col-md-6.col-lg-4
							img.img-fluid.fixed_size.clickable-row(src="https://fakeimg.pl/800x800/" data-href="12.12.html")
						.pic.col-12.col-md-6.col-lg-4
							img.img-fluid.fixed_size.clickable-row(src="https://fakeimg.pl/350x150/" data-href="12.12.html")
						.pic.col-12.col-md-6.col-lg-4
							img.img-fluid.fixed_size.clickable-row(src="https://fakeimg.pl/350x150/" data-href="12.12.html")
						.pic.col-12.col-md-6.col-lg-4
							img.img-fluid.fixed_size.clickable-row(src="https://fakeimg.pl/350x150/" data-href="12.12.html")
						.pic.col-12.col-md-6.col-lg-4
							img.img-fluid.fixed_size.clickable-row(src="https://fakeimg.pl/350x150/" data-href="12.12.html")
						.pic.col-12.col-md-6.col-lg-4
							img.img-fluid.fixed_size.clickable-row(src="https://fakeimg.pl/350x150/" data-href="12.12.html")
						.pic.col-12.col-md-6.col-lg-4
							img.img-fluid.fixed_size.clickable-row(src="https://fakeimg.pl/350x150/" data-href="12.12.html")
						.pic.col-12.col-md-6.col-lg-4
							img.img-fluid.fixed_size.clickable-row(src="https://fakeimg.pl/350x150/" data-href="12.12.html")
						.pic.col-12.col-md-6.col-lg-4
							img.img-fluid.fixed_size.clickable-row(src="https://fakeimg.pl/350x150/" data-href="12.12.html")
					include page.pug 
		
		//- 匯入底部廣告
		include footer_ad.pug
		//- 匯入footer+script
		include footer.pug