doctype html
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 企業提供
		//- 匯入連結
		include header.pug
	body#top
		//- 匯入導覽列+gototop
		include nav.pug
		.mt-135
		section.container
			.row
				.title.col-12
					h2 企業提供
				.content.col-12
					form
						.selector.flex-wrap
							.col-wrap.col-12.col-md-2
								select.selectpicker(data-size="5" data-width="100%")
									option(selected="" disabled="") 類型
									option 食品
									option 餐廚
									option 衣物
									option 鞋襪
									option 傢俱
									option 寢飾
									option 衛生
									option 清潔
									option 家電
									option 3C
									option 圖書
									option 文具
									option 娛樂
									option 其他
									option 輔具
									option 運輸
							.col-wrap.col-12.col-md-2
								select.selectpicker(data-size="5" data-width="100%")
									option(selected="" disabled="") 年份
									option 2020
									option 2019
									option 2018
									option 2017
									option 2016
							.col-wrap.col-12.col-md-2
								select.selectpicker(data-size="5" data-width="100%")
									option(selected="" disabled="") 月份
									option 1
									option 2
									option 3
									option 4
									option 5
									option 6
									option 7
									option 8
									option 9
									option 10
									option 11
									option 12
							.col-wrap.col-12.col-md-4
								input.form-control(type="text" placeholder="關鍵字")
							.col-wrap.col-12.col-md-2
								button.btn.selector-button(type="button") 送出
						.list
							table.table.table-striped
								thead
									tr
										th.text-center(scope="col" style="width: 20%") 物資類型
										th(scope="col" style="width: 35%") 物資名稱
										th.text-center(scope="col" style="width: 15%") 開始日期
										th.text-center(scope="col" style="width: 15%") 結束日期
										th.text-center(scope="col" style="width: 15%") 募集地區
								tbody
									- for ( var i=1 ; i<=15 ; i++)
										tr(onclick="document.location = '13.1.1.html';")
											td.text-center(data-th="物資類型") 家電
											td.text-truncate(data-th="物資名稱") 筆記型電腦(27寸大小)筆記型電腦(27寸大小)
											td.text-center(data-th="開始日期") 2020 / 06 / 05
											td.text-center(data-th="結束日期") 2020 / 06 / 19
											td.text-center(data-th="募集地區") 台北市
						include page.pug
		//- 匯入底部廣告
		include footer_ad.pug
		//- 匯入footer+script
		include footer.pug