doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 公益商城
		//- 匯入連結
		include header.pug
	body#top
		//- 匯入導覽列+gototop
		include nav.pug

		section#welfare_shop.container
			.row
				.content_top.col-12
					h2.content_title.col-12 公益商城
					.col-12
						form.form-inline.col-12.selector
							.select_wrap.col-12.col-md-4
								input.form-control.col-12(type="text" placeholder="關鍵字")
							.select_wrap.col-12.col-md-3
								select.col-12.selectpicker(data-size="5")
									option(selected="" disabled="") 商品類別
									option 食品
									option 衣物
									option 用品
									option 書籍
									option 配件
							.select_wrap.col-12.col-md-3
								select.col-12.selectpicker(data-size="5")
									option(selected="" disabled="") 機構類別
									option 綜合性服務
									option 兒童青少年福利
									option 婦女福利
									option 老人福利
									option 身心障礙福利
									option 家庭福利
									option 健康醫療
									option 心理衛生
									option 社區規劃(營造)
									option 環境保護
									option 國際合作交流
									option 教育與科學
									option 文化藝術
									option 人權和平
									option 消費者保護
									option 教育與科學
									option 性別平等
									option 政府單位
									option 動物保護
							.select_wrap.col-12.col-md-2
								button.btn.lookmore.col-12.m-0(type="button") 送出
					.products
						.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="https://shopee.tw/" target="_blank")
								.pic
									img.img-fluid(src="https://fakeimg.pl/800x800/")
								h3.title 商品名稱
								p.text 商品價錢
						.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="https://shopee.tw/" target="_blank")
								.pic
									img.img-fluid(src="https://fakeimg.pl/800x450/")
								h3.title 商品名稱
								p.text 商品價錢
						.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="https://shopee.tw/" target="_blank")
								.pic
									img.img-fluid(src="https://fakeimg.pl/1000x200/")
								h3.title 商品名稱
								p.text 商品價錢
						.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="https://shopee.tw/" target="_blank")
								.pic
									img.img-fluid(src="https://fakeimg.pl/200x1000/")
								h3.title 商品名稱
								p.text 商品價錢
						.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="https://shopee.tw/" target="_blank")
								.pic
									img.img-fluid(src="https://fakeimg.pl/800x800/")
								h3.title 商品名稱
								p.text 商品價錢
						.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="https://shopee.tw/" target="_blank")
								.pic
									img.img-fluid(src="https://fakeimg.pl/800x800/")
								h3.title 商品名稱
								p.text 商品價錢
						.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="https://shopee.tw/" target="_blank")
								.pic
									img.img-fluid(src="https://fakeimg.pl/800x800/")
								h3.title 商品名稱
								p.text 商品價錢
						.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="https://shopee.tw/" target="_blank")
								.pic
									img.img-fluid(src="https://fakeimg.pl/800x800/")
								h3.title 商品名稱
								p.text 商品價錢
						.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="https://shopee.tw/" target="_blank")
								.pic
									img.img-fluid(src="https://fakeimg.pl/800x800/")
								h3.title 商品名稱
								p.text 商品價錢
						.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="https://shopee.tw/" target="_blank")
								.pic
									img.img-fluid(src="https://fakeimg.pl/800x800/")
								h3.title 商品名稱
								p.text 商品價錢
						.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="https://shopee.tw/" target="_blank")
								.pic
									img.img-fluid(src="https://fakeimg.pl/800x800/")
								h3.title 商品名稱
								p.text 商品價錢
						.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="https://shopee.tw/" target="_blank")
								.pic
									img.img-fluid(src="https://fakeimg.pl/800x800/")
								h3.title 商品名稱
								p.text 商品價錢
						.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="https://shopee.tw/" target="_blank")
								.pic
									img.img-fluid(src="https://fakeimg.pl/800x800/")
								h3.title 商品名稱
								p.text 商品價錢
						.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="https://shopee.tw/" target="_blank")
								.pic
									img.img-fluid(src="https://fakeimg.pl/800x800/")
								h3.title 商品名稱
								p.text 商品價錢
						.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="https://shopee.tw/" target="_blank")
								.pic
									img.img-fluid(src="https://fakeimg.pl/800x800/")
								h3.title 商品名稱
								p.text 商品價錢
						.col-12.col-sm-6.col-md-4.col-lg-3
							a(href="https://shopee.tw/" target="_blank")
								.pic
									img.img-fluid(src="https://fakeimg.pl/800x800/")
								h3.title 商品名稱
								p.text 商品價錢
					include page.pug
		
		//- 匯入底部廣告
		include footer_ad.pug
		//- 匯入footer+script
		include footer.pug