// footer
footer
    .container
        .row
            .footer-left.col-12.col-lg-5
                p 財團法人喜瑪拉雅研究發展基金會建置
                p 網軟股份有限公司營運維護
            .footer-right.col-12.col-lg-7
                p.npotimes NPOTIMES電子報訂閱
                .input-group
                    input.form-control(type="email" placeholder="請輸入電子信箱")
                    .input-group-append
                        button#suscribe.btn.lookmore(type="button") 訂閱！
            .bottom-bar.col-12.col-md-8.mx-auto
                .col-4
                    a(href="11.1.html")
                        | 使用說明
                .col-4
                    a(href="11.2.html")
                        | 服務條款
                .col-4
                    a(href="11.3.html")
                        | 隱私權政策
    .copyright.col-12
        p.copyright-en Copyright © 2020 Taiwan NPO Information Platform. All Rights Reserved. 
// jq
script(src="./js/jquery.js")
// BT4
script(src="./js/popper.min.js")
script(src="./js/bootstrap.js")
//- script(src="./js/bootstrap.bundle.js")
// slick
script(src="./js/slick.js")
// bootnav
script(src="./js/bootsnav.js")
// fullcalendar
script(src="./js/core.main.js")
script(src="./js/daygrid.main.js")
script(src="./js/locales-all.js")
script(src="./js/interaction.main.js")
// bootstrap-select
script(src="./js/bootstrap-select.js")
// script
script(src="./js/script.js")


// fullcalendar初始化
script.
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        if (calendarEl != null){
            var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction','dayGrid'],
            fixedWeekCount: false,
            selectable: true,
            events: [
                {start: '2020-06-18'},
                {start: '2020-06-22'}
            ]
            });
            calendar.render();
            // 中文語系
            calendar.setOption('locale', 'zh-tw');
        }
    });
// 滑動
script.
    if ($(window).width() < 992){
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;
            // 下滑隱藏導覽列
            if (prevScrollpos < 0){
                document.getElementById("navbar").style.top = "0";
            }
            else if (prevScrollpos > currentScrollPos) {
                document.getElementById("navbar").style.top = "0";
            }
            else {
                document.getElementById("navbar").style.top = "-135px";
            }
            prevScrollpos = currentScrollPos;
            // 手機版視窗滾動收回導覽列
            var element = document.getElementById("navbar-menu");
            element.classList.remove("show");
        }
    }
