// 底部廣告
section#bottom_ads.container
    a(href="#" target="_blank")
        img.img-fluid(src="./img/fakeimg/350x150.png")
    a(href="#" target="_blank")
        img.img-fluid(src="./img/fakeimg/350x150.png")
    a(href="#" target="_blank")
        img.img-fluid(src="./img/fakeimg/350x150.png")
    a(href="#" target="_blank")
        img.img-fluid(src="./img/fakeimg/350x150.png")
