// pc版社群分享
#pc_social_share
    a(href="#")
        .fb
            i.fab.fa-facebook
            p 臉書分享
    a(href="#")
        .line
            i.fab.fa-line
            p line分享
    a(href="#")
        .twitter
            i.fab.fa-twitter
            p 推特分享
    a(href="#")
        .weibo
            i.fab.fa-weibo
            p 微博分享
// pc版社群分享