// 手機版社群分享
#phone_social_share
    a(href="#")
        .fb(title="臉書分享")
            i.fab.fa-facebook
    a(href="#")
        .line(title="line分享")
            i.fab.fa-line
    a(href="#")
        .twitter(title="推特分享")
            i.fab.fa-twitter
    a(href="#")
        .weibo(title="微博分享")
            i.fab.fa-weibo
// 手機版社群分享